/*!
 * Iguana common
 *
 */

  @import url('fonts/common-proxima-b-r-font.css'); /* proxima-nova font */

  body,
  html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%; /* override default bootstrap modal css */
    padding: 0 !important;
    overflow: auto !important; /* prevent scrolling when modal is visible */
    left: 0;
    top: 0;
    position: absolute;
    font-family: 'Proxima Nova', sans-serif;
  }
  .orange-gradient,
  .btn.orange-gradient:focus {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe640d+8,fe640d+26,fe4b0d+77,fe450d+100 */
    background: #fe640d; /* Old browsers */
    background: -moz-linear-gradient(top, #fe640d 8%, #fe640d 26%, #fe4b0d 77%, #fe450d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fe640d 8%, #fe640d 26%, #fe4b0d 77%, #fe450d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fe640d 8%, #fe640d 26%, #fe4b0d 77%, #fe450d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe640d', endColorstr='#fe450d', GradientType=0); /* IE6-9 */
  }
  .cursor-pointer {
    cursor: pointer;
    cursor: hand;
  }
  .unselectable {
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  }
  .col-red {
    color: #FF0000;
  }
  #messageModal {
    font-family: 'Proxima Nova', sans-serif;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2000;
  }
  #messageModal a,
  #messageModal a:visited,
  #messageModal a:active {
    color: #fff;
    text-decoration: underline;
  }
  #messageModal .msg-body {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
  }
  #messageModal .msgbox-header,
  #messageModal .msg-content {
    width: 390px;
    margin: 0 auto;
    top: 34px;
    border-radius: 4px;
    border: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  #messageModal.msg-blue .msgbox-header,
  #messageModal.msg-blue .msgbox-content {
    background: -webkit-radial-gradient(top, rgba(0,133,255,0.7),rgba(0,132,255,1));
    background: -o-radial-gradient(right, rgba(0,133,255,0.7), rgba(0,132,255,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(right, rgba(0,133,255,0.7),rgba(0,132,255,1)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(to top, rgba(0,133,255,0.7), rgba(0,132,255,1)); /* Standard syntax (must be last) */
  }
  #messageModal.msg-green .msgbox-header,
  #messageModal.msg-green .msgbox-content {
    background: -webkit-radial-gradient(top, rgba(8,186,89,0.7),rgba(8,185,89,1));
    background: -o-radial-gradient(right, rgba(8,186,89,0.7),rgba(8,185,89,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(right, rgba(8,186,89,0.7),rgba(8,185,89,1)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(to top, rgba(8,186,89,0.7),rgba(8,185,89,1)); /* Standard syntax (must be last) */
  }
  #messageModal.msg-red .msgbox-header,
  #messageModal.msg-red .msgbox-content {
    background: -webkit-radial-gradient(top, rgba(255,1,71,0.7),rgba(255,0,71,1));
    background: -o-radial-gradient(right, rgba(255,1,71,0.7),rgba(255,0,71,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(right, rgba(255,1,71,0.7),rgba(255,0,71,1)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(to top, rgba(255,1,71,0.7),rgba(255,0,71,1)); /* Standard syntax (must be last) */
  }
  .lnk-logout {
    margin-top: 16px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 600;
    right: 15px;
    position: absolute;
  }
.navbar-inverse .navbar-brand{
  color: #fff;
  font-size: 1.6em;
}
  /* svg animated loader */
  .loader {
    position: relative;
    margin: 0px auto;
    width: 100px;
    height: 100px;
  }
  .circle {
    animation: rotate 2s linear infinite;
    height: 100px;
    position: relative;
    width: 100px;
  }
  .path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke: #FFB8A2;
    stroke-linecap: round;
  }
  .path2 {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: dash2 1.5s ease-in-out infinite;
    stroke: #FF9372;
    stroke-linecap: round;
  }
  .path3 {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: dash3 1.5s ease-in-out infinite;
    stroke: #FF7C53;
    stroke-linecap: round;
  }
  .path4 {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: dash4 1.5s ease-in-out infinite;
    stroke: #FE450D;
    stroke-linecap: round;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124;
    }
  }
  @keyframes dash2 {
    0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -50;
    }
    100% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124;
    }
  }
  @keyframes dash3 {
    0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -75;
    }
    100% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124;
    }
  }
  @keyframes dash4 {
    0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124;
    }
  }
  @keyframes color {
    100%, 0% {
      stroke: #FF8D6A;
    }
    40% {
      stroke: #FE450D;
    }
    66% {
      stroke: #FF683A;
    }
    80%, 90% {
      stroke: #FF7D56;
    }
  }