/*!
 * Iguana dashboard/reference-currency
 *
 */

@import url('fonts/flag-icon.min.css');

.reference-currency-main h1,
.reference-currency-main h2,
.reference-currency-main h3,
.reference-currency-main h4,
.reference-currency-main h5,
.reference-currency-main h6 {
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.reference-currency-main {
  padding-bottom: 40px;
}
.reference-currency-main .currency-content ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
.reference-currency-main .currency-content .country-li .flag-head {
  padding: 7px;
}
.reference-currency-main .currency-content .flag-icon {
  box-shadow: 0 1px 4px 0 #ccc;
  width: 43px;
  height: 32px;
  background-size: 100%;
}
.reference-currency-main .currency-content .container {
  font-family: 'Proxima Nova';
  margin: 0 auto;
}
.reference-currency-main .currency-content .currency-content {
  width: 80%;
  margin: 0 auto;
}
.reference-currency-main .currency-content .container-left {
  margin-top: calc(18% - 12.4%); /* calc wont work in iOS safari */
  padding-top: 7px;
}
.reference-currency-main .currency-content .container-left .choose-currency {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 5px;
}
.reference-currency-main .currency-content .container-left .transaction-amount {
  color: #898a94;
  font-weight: 500;
  font-size: 16px;
}
.reference-currency-main .currency-content .currency-parent {
  margin-top: 30px;
}
.reference-currency-main .currency-content .country-li.country-li.active {
  border: 2px solid #FD5624;
  color: #FD5624;
  box-shadow: none;
}
.reference-currency-main .currency-content .currency-loop .active .full-name {
  color: #FD5624;
  font-weight: 600;
}
.reference-currency-main .currency-content .currency-loop {
  padding-left: 0;
  font-size: 0.95em;
  text-align: center;
}
.reference-currency-main .currency-content .currency-loop .country-li {
  background-color: #fff;
  border-radius: 6px;
  list-style-type: none;
  text-align: center;
  max-width: 180px;
  min-width: 166px;
  padding-top: 20px;
  margin: 10px;
  height: 132px;
  display: table-cell;
  vertical-align: middle;
  float: left;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.12);
  border: 2px solid transparent;
}
.reference-currency-main .currency-content .currency-loop .country-li span {
  color: #d3d4d6;
  font-weight: 600;
}
.reference-currency-main .currency-content .label  {
  background-color: transparent;
}
.reference-currency-main .currency-content .country-li .short-name {
  width: 100%;
  display: block;
  padding-top: 2px;
  font-weight: 600;
}
.reference-currency-main .currency-content .country-li .full-name {
  top: -2px;
  position: relative;
}