/*!
 * Iguana reference currency
 *
 */

@import url('fonts/flag-icon.min.css');

body {
  background-color: #f4f8fb;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 20px;
}
ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
.country-li .flag-head {
  padding: 7px;
}
.container {
  font-family: 'Proxima Nova';
  margin: 0 auto;
}
.currenc y-content {
  width: 80%;
  margin: 0 auto;
}
.container-left {
  margin-top: calc(18% - 12.4%); /* calc wont work in iOS safari */
  padding-left: 13.1%;
  padding-top: 7px;
}
.container-left .choose-currency {
  font-weight: 700;
  font-size: 20px;
}
.container-left .transaction-amount {
  color: #898a94;
  font-weight: 500;
  font-size: 16px;
}
.currency-parent {
  margin-top: 30px;
  padding-left: 0;
}
.selected {
  border: 2px solid #F00;
  color: #F00;
}
.currency-loop .selected .full-name {
  color: #F00;
  font-weight: bold;
}
.currency-loop {
  padding-left: 0;
}
.currency-loop .country-li {
  background-color: #fff;
  border-radius: 6px;
  list-style-type: none;
  text-align: center;
  width: 177px;
  padding-top: 8px;
  margin: 10px;
  height: 128px;
  display: table-cell;
  vertical-align: middle;
  float: left;
  box-shadow: 0 2px 4px 1px #ccc;
}
.currency-loop .country-li span {
  color: #d3d4d6;
  font-weight: bold;
}
.label  {
  background-color: transparent;
}
.country-li .short-name {
  width: 100%;
  display: block;
}