/*!
 * Iguana dashboard/send-to-address
 *
 */

.send-modal .headd {
  border-radius: 4px;
  color: #fff;
  padding: 23px 21px 20px;
  position: relative;
  box-shadow: 0 0 7px 4px #e8cec6;
  margin-top: 0.5em;
}
.send-modal .headd::before {
  font-family: 'budicon';
  font-size: 2.0em;
  color: #C8CCD0;
  top: 100px;
  content: '\eac5';
  height: 40px;
  width: 40px;
  margin: auto;
  position: absolute;
  left: 18px;
  right: 0;
}
.send-modal .modal-content .modal-header {
  border-bottom: medium none;
  color: #fff;
  padding: 16px 40px;
  position: relative;
  text-align: center; border-radius: 6px 6px 0 0;
}
.modal .modal-content {
  border-radius: 6px;
  overflow: hidden;
}
.modal-header .modal-title {
  font-size: 19px;
  font-weight: 400;
}
.send-modal .main-popup {
  margin: 0 auto;
  max-width: 300px;
}
.send-modal .pop-detail {
  margin-bottom: 0.5em;
}
.send-modal .modal-content .modal-body {
  background: #f5f8fb none repeat scroll 0 0;
  padding: 50px 0;
}
.send-modal .hd-right > span {
  display: block;
  font-size: 18px;
  font-weight: 600;
}
.send-modal .pop-form {
  margin-top: 40px;
}
.send-modal .send-modal .pop-detail h4 {
  color: #282828;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.send-modal .pop-detail p {
  color: #90929b;
  font-size: 13px;
  margin: 4px 0;
}
.send-modal .pop-detail input[type="text"] {
  border: 1px solid #c7ccd0;
  border-radius: 4px;
  color: #333333;
  font-weight: 500;
  height: 34px;
  padding: 1px 6px;
  width: 100%;
}
.send-modal .pop-detail .tx-note {
  border: 1px solid #c7ccd0;
  border-radius: 4px;
  height: 34px;
  margin-top: 4px;
  resize: none;
  width: 100%;
  padding: 5px 12px;
  font-weight: normal;
}
.send-modal .modal {
  padding-left: 0;
}
.send-modal .pop-detail h4 {
  font-size: 1.07em;
  font-weight: 400;
  margin-bottom: 0;
}
.send-modal .hd-right {
  text-align: right;
  font-size: 12px;
}
.send-modal .pop-detail.crncy input[type="text"] {
  float: left;
  width: 46%;
}
.send-modal .pop-detail.crncy {
  display: inline-block;
  width: 100%;
}
.send-modal .pop-detail.crncy span {
  color: #fc6538;
  float: left;
  font-size: 1.8em;
  font-weight: 500;
  padding: 0 1.3%;
}
.send-modal .pop-form .btn-next,
.send-modal .pop-form .btn-confirm-tx {
  border: 0 none;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.075em;
  height: 34px;
  width: 100%;
  padding-top: 3px;
  margin-top: 10px;
}
.send-modal .pop-detail.send .tx-address-icon {
  width: 20px;
  height: 20px;
  position: absolute;
}
.send-modal .pop-detail.send .tx-address {
  padding-right: 32px;
  resize: both;
}
.send-modal .pop-detail.send .tx-address-icon:before {
  content: '\ea16';
  font-family: 'budicon';
  font-size: 1.2em;
  color: #FE450D;
  display: block;
  position: absolute;
  right: 6px;
}
.send-modal .chk-crncy h3 {
  font-size: 21px;
  font-weight: 500;
  margin: 0;
}
.send-modal .chk-crncy h4 {
  color: #a2a3ac;
  margin-bottom: 5px;
}
.send-modal .pop-detail.pay-dtl p {
  color: #37373a;
  font-size: 1.1em;
}
.send-modal .chk-crncy h5 {
  font-size: 16px;
  margin-top: -1px;
}
.send-modal .pop-detail.crncy.chk-crncy {
  margin: 30px 0;
}
.send-modal .rs {
  margin: 0;
  position: relative;
  top: -3px;
}
.send-modal .modal-dialog {
  margin: 20px auto;
  width: 800px;
}
.send-modal .pop-detail.send.check h4 {
  color: #a2a3ac;
}
.send-modal .pop-detail.send.check p {
  color: #000000;
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: 7px;
}
.send-modal .pop-detail.pay-dtl h4 {
  color: #a2a3ac;
}
.send-modal .chk-crncy.crncy-rs h5 {
  margin-top: -1px;
}
.send-modal .pop-detail.crncy.chk-crncy.crncy-rs {
  margin: 0 0 10px;
}
.send-modal .pop-detail.crncy.chk-crncy.crncy-fee {
  margin: 0 0 13px;
}
.send-modal #myModal1 .pop-form .btn-next {
  margin-top: 30px;
}
.send-modal p.col-red {
  color: #FF0000;
}

/*
  ! not going to work in IE,
    TODO: gracefull fallback(?) !
*/
.send-modal.blur {
  -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
  filter: blur(2px);
}
.send-coin-progress-overlay,
.send-coin-success-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.send-coin-progress-overlay .send-coin-status,
.send-coin-success-overlay .send-coin-status {
  padding-top: 40%;
  font-size: 1.1em;
  text-align: center;
}
.send-coin-progress-overlay .btn-next {
  margin-top: 25%;
}
.send-coin-success-overlay .btn-confirmed,
.send-coin-success-overlay .btn-confirmed:focus {
  position: absolute;
  bottom: 25%;
  left: 25%;
  right: 25%;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  font-size: 1.3em;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19b760+0,19b760+100&0.8+0,1+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(25, 183, 96, 0.8) 0%, rgba(25, 183, 96, 1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(25, 183, 96, 0.8) 0%, rgba(25, 183, 96, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(25, 183, 96, 0.8) 0%,rgba(25, 183, 96, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc19b760', endColorstr='#19b760',GradientType=1); /* IE6-9 fallback on horizontal gradient */
}
.modal-send-coin .bi_interface-arrow-left {
  font-size: 26px;
  margin-top: -5px;
  margin-left: -2px;
}
.send-modal .pop-detail input[type="text"].validation-field-error {
  background: #FFF5F5;
  border-color: #FD2F2F;
}
.modal-send-coin .coin {
  float: left;
}
.modal-send-coin .coin .icon {
  width: 35px;
  height: 35px;
}
.modal-send-coin .coin i {
  margin-left: -6px;
  font-size: 3.5em;
  display: inline-block;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.modal-send-coin .coin .name {
  font-weight: normal;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  position: relative;
  top: -15px;
  left: 19px;
}
.modal-send-coin .balance {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.modal-send-coin .hd-right.balance .balance-coin {
  font-size: 1.7em;
}
.modal-send-coin .hd-right.balance .balance-currency {
  font-size: 1.2em;
}
.modal-send-coin.entry {
  max-height: 770px;
}
.modal-send-coin {
  display: block;
  border-radius: 4px;
  background: none;
}
.modal-send-coin .bi_interface-arrow-left ,
.modal-add-coin-login .bi_interface-arrow-left {
  color: #fff;
  font-size: 26px;
  margin-left: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 100;
}

/*
  TODO: drop svg, switch to css based animation
  circular progress indicator
  ref: http://stackoverflow.com/questions/5230148/create-svg-progress-circle
*/
.modal-send-coin .progress-indicator {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: -2px;
}
.modal-send-coin .over {
  -webkit-animation: rotator 1.5s ease-in-out infinite;
  stroke-dasharray: 107,38;
}
.modal-send-coin .modal-dialog .modal-content .modal-header [class *="btn-"] {
  margin-left: 6px;
}
.modal-send-coin .modal-dialog .modal-content .modal-header .title {
  padding-top: 0;
}
.modal-send-coin .bag {
  position: absolute;
}
@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}