$color-red: #FF0000;
$color-white: #FEFBF9;
$color-absolute-white: #FFF;
$color-black: #000;
$color-orange: #FE450D;

$color-medium-gray: #C7CCD0;
$color-dark-gray: #82848a;
$color-default-gray: #CCC;

$color-modal-bg: #F5F8FB;
$color-modal-bg-inner: #F4F7FB;

$color-add-coin-orange: #FE760D;
$color-add-coin-breeze: #1ABC9C;
$color-add-coin-yellow: #F7D441;
$color-add-coin-light-blue: #73C7EF;

$color-form-arrow: #C8CCD0;

$background-for-page: #AEB3B7;

$dashboard-navbar-color: #FEFBF9;
$dashboard-top-border-color: #1E2136;

$txunit-item-receive-amount-color: #27C26F;
$txunit-item-progress-icon-color: #BCBEC4;
$txunit-item-progress-amount-color: #0082FF;
$txunit-item-progress-icon-before-color: #2092FE;
$transactions-list-repeater-item: #F6FAFF;

$dashboard-link-logout-color: #AFB0B5;
$dashboard-coins-sidebar-currency-color: #6B6B6D;

$dashboard-send-currency-orange: #FE4F09;
$dashboard-send-currency-white: $color-absolute-white;
$dashboard-send-popup-err: #888990;

$receive-coin-text-selection-color: #8C8484;
$receive-coin-share-title-color: #252528;
$receive-coin-share-address-color: #2F2E2E;
$receive-coin-button-bg-color: #FBFDFE;
$receive-coin-button-color: #FD5630;
$receive-coin-button-link-color: #FE6542;
$receive-coin-amount-label-color: #423F3F;
$receive-coin-unit-color: #83848E;
$receive-coin-input-color: #2E3746;
$receive-coin-eq-sign-color: #FE5C0D;

$login-header-color-bg: #FE700D;
$login-content-color-bg: #363639;
$login-coin-selection-color: #FF4912;
$login-button-disabled-color: #B2B4B7;
$login-boxshadow-color: #F9602F;
$login-delim-color: #FEFBF9;
$login-button-hover-color: #FE743D;
$login-advanced-benefits: #FEFBF9;
$dropdown-button-style-color: #5A606C;
$segment-select-color: #FE4F09;

$dashboard-topbar-bg-color: #0E101C;
$dashboard-topbar-item-color: #8A8B93;
$dashboard-balance-block-label-color: #95969F;

