/*!
* Iguana common
*
*/
@import 'dev';

/* latin */
@font-face {
  font-family: 'FuturaPTDemi';
  font-style: normal;
  font-weight: 400;
  src: local('FuturaPTDemi Regular'),
       local('FuturaPTDemi-Regular'),
       url(fonts/FuturaPTDemi.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
  body {
    background-color: $color-body-bg;
    @include proxima;
    //overflow: auto !important; /* prevent scrolling when modal is visible */

    .app-background {
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
    .unselectable {
      @include unselectable;
    }
    .cursor-pointer {
      @include cursor-pointer;
    }
    .no-padding-left-right {
      @include no-padding-left-right;
    }
    .orange-gradient,
    .btn.orange-gradient,
    .btn.orange-gradient:focus,
    .btn.orange-gradient:hover {
      @include orange-gradient;
    }
    .green-gradient,
    .btn.green-gradient,
    .btn.green-gradient:focus,
    .btn.green-gradient:hover {
      @include green-gradient;
    }
    .width-gradient,
    .btn.width-gradient,
    .btn.width-gradient:focus,
    .btn.width-gradient:hover {
      @include width-gradient;
    }
    .btn:disabled,
    .btn:disabled:hover,
    .btn:disabled:focus,
    .btn:disabled:active {
      background: $background-for-page;
      @include no-box-shadow;
      @include no-text-shadow;
    }
    .btn.disabled,
    .btn.disabled:focus {
      @include unclickable;
    }
    .col-red {
      color: $color-red;
    }
    .col-white {
      color: $color-white;
    }
    .dashboard-page .app-container,
    .dashboard-page .app-container-inner {
      background: inherit;
    }
    .invisible {
      opacity: 0;
    }
    textarea {
      border: 1px solid $color-textarea-border;
      box-shadow: none;
      outline: none;
      overflow: auto;
    }
    .offset-bottom-sm {
      @include offset-bottom-sm;
    }
    .offset-bottom-md {
      @include offset-bottom-md;
    }
    .offset-bottom-lg {
      @include offset-bottom-lg;
    }
    .offset-top-sm {
      @include offset-top-sm;
    }
    .offset-top-md {
      @include offset-top-md;
    }
    .offset-top-lg {
      @include offset-top-lg;
    }
    .offset-left-sm {
      @include offset-left-sm;
    }
    .offset-left-md {
      @include offset-left-md;
    }
    .offset-left-lg {
      @include offset-left-lg;
    }
    .offset-right-sm {
      @include offset-right-sm;
    }
    .offset-right-md {
      @include offset-right-md;
    }
    .offset-right-lg {
      @include offset-right-lg;
    }
    .orange-shadow {
      @include orange-shadow;
    }
    [class *= "btn-"] {
      @include cursor-pointer;
    }
  }
}