/*!
* Iguana common
*
*/
@import 'dev';

$color-body-bg: #F5FAFD;
$color-textarea-border: #CAC9C9;

//@import url('//fonts.googleapis.com/css?family=Nunito');

//@font-face {
//  font-family: 'Nunito', sans-serif;
  //TODO: continued
  //src: url("fonts/Nunito-Regular.ttf") format('truetype');;
//}
html {
  body {
    background-color: $color-body-bg;
    @include proxima;
    //overflow: auto !important; /* prevent scrolling when modal is visible */

    .app-background {
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
    .unselectable {
      @include unselectable;
    }
    .cursor-pointer {
      @include cursor-pointer;
    }
    .no-padding-left-right {
      @include no-padding-left-right;
    }
    .orange-gradient,
    .btn.orange-gradient,
    .btn.orange-gradient:focus,
    .btn.orange-gradient:hover {
      @include orange-gradient;
    }
    .width-gradient,
    .btn.width-gradient,
    .btn.width-gradient:focus,
    .btn.width-gradient:hover {
      @include width-gradient;
    }
    .btn:disabled,
    .btn:disabled:hover,
    .btn:disabled:active {
      background: $background-for-page;
      @include no-box-shadow;
      @include no-text-shadow;
    }
    .col-red {
      color: $color-red;
    }
    .col-white {
      color: $color-white;
    }
    .modal .modal-dialog.modal-lg {
      width: 800px;
    }
    .dashboard-page .app-container,
    .dashboard-page .app-container-inner {
      background: inherit;
    }
    .invisible {
      opacity: 0;
    }
    textarea {
      border: 1px solid $color-textarea-border;
      box-shadow: none;
      outline: none;
      overflow: auto;
    }
    .offset-bottom-sm {
      @include margin('bottom', 15px, true, !important);
    }
    .offset-bottom-md {
      @include margin('bottom', 30px, true, !important);
    }
    .offset-bottom-lg {
      @include margin('bottom', 45px, true, !important);
    }
    .offset-top-sm {
      @include margin('top', 15px, true, !important);
    }
    .offset-top-md {
      @include margin('top', 30px, true, !important);
    }
    .offset-top-lg {
      @include margin('top', 45px, true, !important);
    }
    .offset-left-sm {
      @include margin('left', 15px, false, !important);
    }
    .offset-left-md {
      @include margin('left', 30px, false, !important);
    }
    .offset-left-lg {
      @include margin('left', 45px, false, !important);
    }
    .offset-right-sm {
      @include margin('right', 15px, false, !important);
    }
    .offset-right-md {
      @include margin('right', 30px, false, !important);
    }
    .offset-right-lg {
      @include margin('right', 45px, false, !important);
    }
  }
}