/*!
* Iguana dashboard/base
*
*/

@import 'dev.scss';

$dashboard-topbar-bg-color: #0E101C;
$dashboard-topbar-item-color: #8A8B93;
$dashboard-balance-block-label-color: #95969F;

.dashboard.blur,
body.modal-open .dashboard {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
body.dashboard-page {
  background: $color-modal-bg;
}
.dashboard-main .row,
.container-fluid.dashboard-main {
  height: 100%;
}
.dashboard {
  .navbar,
  .navbar .container-fluid {
    padding: 0;
  }
  .navbar .navbar-brand {
    margin-left: 0;
  }
  .top {
    text-align: center;
    background: $dashboard-topbar-bg-color;
    box-shadow: 0 4px 5px 0 rgba-black(0.2);
    color: $color-white;
    border-radius: 0;
    margin-bottom: 0;

    .left {
      @include bold;
      font-size: 1.6em;
      position: absolute;
      top: 15px;
      left: 30px;
      display: inline-block;
    }
    .right {
      @include bold;
      font-size: 1em;
      position: absolute;
      right: 30px;
      top: 20px;
    }
  }
  .top-menu {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 8px;
    float: none;
    vertical-align: top;
    white-space: nowrap;

    .item {
      @include bold;
      font-size: 1.05em;
      margin: 0 5px;
      top: 9px;
      color: $dashboard-topbar-item-color;
      z-index: 100;
      text-shadow: 0 0 0 $dashboard-topbar-item-color;
      display: inline-block;

      .text {
        padding: 0 17px;
        height: 38px;
        margin-top: 2px;
        line-height: 34px;
      }
      .border {
        width: 100%;
        height: 3px;
        border-radius: $border-radius-smaller;
        padding: 0 22px;
        background: transparent;
      }
    }
    .item.active {
      @include bold;
      color: $color-white;
      text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);

      .border {
        background: $color-orange;
        box-shadow: 0 -1px 1px 0 rgba(254, 69, 13, 0.5); /* orange glow */
      }
    }
  }
  /* radial like highlight effect */
  .top-menu:before {
    content: '';
    width: 100%;
    height: 100%;
    width: 350px;
    margin-left: -13px;
    opacity: 0.25;
    border-radius: 25%;
    position: absolute;
    z-index: 50;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,222539+0 */
    background: rgb(0, 0, 0); /* Old browsers */
    background: -moz-radial-gradient(top, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(34, 37, 57, 1) 0%); /* FF3.6-15 */
    background: -webkit-radial-gradient(top, ellipse cover, rgba(0, 0, 0, 1) 0%,rgba(34, 37, 57, 1) 0%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(34, 37, 57, 1) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#222539', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  .main-content {
    margin: 0 auto 20px auto;
    max-width: 1500px;
  }
  .balance-block {
    .label {
      color: $dashboard-balance-block-label-color;
      font-size: 0.92em;
      font-weight: normal;
      padding: 0;
    }
    .balance {
      @include bold;
      font-size: 1.7em;

      .value {
        padding-right: 5px;
      }
    }
  }
  .coins,
  .transactions-unit {
    margin-top: 10px;
  }
  .active-coin-balance .value {
    padding-right: 5px;
  }
  .active-coin-balance-currency {
    @include bold;
    font-size: 1.1em;
    padding-left: 30px;
    position: relative;
    top: -3px;
    text-shadow: 0 1px 3px rgba-black(0.25);

    .value {
      padding-right: 5px;
    }
  }
  .btn.disabled,
  .btn.disabled:focus {
    @include unclickable;
  }
  .form-container.add-new-coin-form {
    background: none;
  }
  .balance-block,
  .currency-content {
    margin-top: 85px;
  }
}
.lnk-logout {
  @include bold;
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 1em;
  right: 15px;
  position: absolute;
}
@mixin nav-buttons($position) {
  position: absolute;
  #{$position}: 0;
  height: 50%;
  width: 10px;
  top: 50%;
}
.nav-buttons {
  .nav-left {
    @include nav-buttons(left);
  }
  .nav-right {
    @include nav-buttons(right);
  }
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom {
  margin-bottom: 15px;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;

  .glyphicon {
    position: absolute;
    padding: 7px;
    pointer-events: none;
  }
}
.right-addon {
  .glyphicon {
    right: 0;
  }
  input {
    padding-right: 30px;
  }
}
.left-addon {
  .glyphicon  {
    left: 0;
  }
  input  {
    padding-left: 30px;
  }
}
.active-coin-balance {
  font-size: 1.7em;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 25px;
  text-shadow: 0 1px 3px rgba-black(0.25);
}
.navbar-inverse {
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;

  .navbar-brand {
    @include bold;
    color: $color-white;
    font-size: 1.6em;
    padding: 17px 15px;
  }
}
.add-coin-create-wallet-form {
  z-index: 2000;

  .modal-content {
    .bi_interface-arrow-left {
      margin-top: 0;
    }
    .form-header .title {
      padding-top: 2px;
    }
  }
}
.form-container.mdl.add-coin-login-form .modal .modal-dialog.modal-lg .form-content {
  max-width: 400px;
}