/*!
 * Iguana auth/flow
 *
 */

@import 'dev.scss';

.flow-modal-login-state {
  .flow-title {
    font-size: 1.14em;
    @include center;
  }
  .flow-content {
    background-color: $color-absolute-white;
    box-shadow: 0 2px 2px 2px rgba-black(0.1); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    margin: 3.67em auto 1.8em auto;
    padding: 6em;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=0, Color=#000000)'; /*IE 8*/
    -moz-box-shadow: 0 2px 2px 2px rgba-black(0.1); /*FF 3.5+*/
    -webkit-box-shadow: 0 2px 2px 2px rgba-black(0.1); /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    /* csslint ignore:start */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#000000); /*IE 5.5-7*/
    /* csslint ignore:end */

    .hard-drive,
    .command-line,
    .proxy {
      img {
        width: 96%;
      }
    }
    .left-side {
      float: left;
      margin-left: 4.2em;

      .hard-drive {}
      .command-line {}
      .proxy {}
    }
    .right-side {
      float: left;
      margin-left: 1.6em;

      .text-info-block {
        font-size: 1.2em;
      }
    }
  }
  .need-help {
    display: block;
    font-size: 1.12em;
    margin: 1.8em auto;
    text-align: center;
    text-decoration: underline;
    width: 200px;
  }
  .after-flow-btn {
    max-width: 600px;
    width: 600px;
  }
}