@mixin proxima {
  /* csslint ignore:start */
  font-family: 'Proxima Nova', sans-serif;
  /* csslint ignore:end */
}

@mixin cursor-pointer {
  /* csslint ignore:start */
  cursor: pointer;
  cursor: hand;
  /* csslint ignore:end */
}

@mixin unselectable {
  /* csslint ignore:start */
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  /* csslint ignore:end */
}

@mixin unclickable {
  /* csslint ignore:start */
  pointer-events: none;
  /* csslint ignore:end */
}

@mixin orange-gradient {
  /* csslint ignore:start */
  background: -moz-radial-gradient(50% 0%, ellipse cover, #FE7A0D 0, #FE5724 60%, #FE4108 82%, #FE450D 100%);/* FF3.6+ */
  background: -webkit-radial-gradient(50% 0%, ellipse cover, #FE7A0D 0, #FE5724 60%, #FE4108 82%, #FE450D 100%);/* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(50% 0%, ellipse cover, #FE7A0D 0, #FE5724 60%, #FE4108 82%, #FE450D 100%);/* Opera 11.10+ */
  background: -ms-radial-gradient(50% 0%, ellipse cover, #FE7A0D 0, #FE5724 60%, #FE4108 82%, #FE450D 100%);/* IE10+ */
  background: radial-gradient(50% 0%, ellipse cover, #FE7A0D 0, #FE5724 60%, #FE4108 82%, #FE450D 100%);/* W3C */
  color: $color-white;
  /* csslint ignore:end */
}

@mixin width-gradient {
  /* csslint ignore:start */
  background: $color-absolute-white;
  color: #FE470D;
  @include btn-default-shadow;
  /* csslint ignore:start */
}

@mixin btn-default-shadow {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#E9ECF0)'; /*IE 8*/
  -moz-box-shadow: 0 6px 10px 4px #E9ECF0; /*FF 3.5+*/
  -webkit-box-shadow: 0 6px 10px 4px #E9ECF0; /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 6px 10px 4px #E9ECF0; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#E9ECF0); /*IE 5.5-7*/
}

@mixin login-orange-image {
  background: url('images/bg.jpg') fixed no-repeat center;
  background-size: cover;
}

@function rgba-black($opacity) {
  @return rgba(0, 0, 0, $opacity);
}

@mixin bold {
  /* csslint ignore:start */
  font-weight: 600;
  /* csslint ignore:end */
}

@mixin budicon {
  /* csslint ignore:start */
  font-family: 'budicon';
  /* csslint ignore:end */
}

@mixin blur {
  /* csslint ignore:start */
  -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
  filter: blur(6px);
  /* csslint ignore:end */
}

@mixin no-text-shadow {
  text-shadow: none;
}

@mixin no-box-shadow {
  box-shadow: none;
}

@mixin no-border-radius {
  border-radius: 0;
}

@mixin text-left {
  @media #{$small-min-Resolution} {
    text-align: left;
  }

  /** on mobile resolution required important */
  @media #{$small-max-Resolution} {
    text-align: left !important;
  }
}

@mixin no-padding-left-right {
  /** on include required important */
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@mixin left-right-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin margin-top-bottom($size) {
  margin-bottom: $size;
  margin-top: $size;
}

@mixin margin-left-right($size) {
  margin-left: $size;
  margin-right: $size;
}

@mixin margin($name, $size, $auto, $important) {
  @if ($auto) {
    margin: 0 auto;
  }
  @if ($name == 'left') {
    margin-left: $size $important;
  } @else if ($name == 'right') {
    margin-right: $size $important;
  } @else if ($name == 'top') {
    margin-top: $size $important;
  } @else if ($name == 'bottom') {
    margin-bottom: $size $important;
  }
}

@mixin absolute-horizontal-center {
  left: 15px;
  position: absolute;
  right: 15px;
}

@mixin disabled {
  background: $login-button-disabled-color;
  pointer-events: none;
  text-shadow: none;
}

@mixin hover {
  box-shadow: 0 0 2px 1px rgba-black(0.2);
  color: $color-white;
}

@mixin center {
  text-align: center;
}

@mixin btn-bottom($bottom) {
  bottom: $bottom;
  max-width: 90%;
  @include absolute-horizontal-center;
}

@mixin text-vertical-center($parent-line-height, $children-line-height) {
  line-height: $parent-line-height;

  .text-middle {
    display: inline-block;
    line-height: $children-line-height;
    vertical-align: middle;
  }
}

@mixin quick-search-placeholder {
  color: $color-form-arrow;
  font-size: 1.07em;
  padding-top: 1px;
}

@mixin orange-shadow  {
  box-shadow: 0 0 14px 4px rgba(254,71,13,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=135, Color=#FE470D); /*IE 5.5-7*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=0, Color=#FE470D)";/*IE 8*/
  -moz-box-shadow: 0 0 14px 4px rgba(254,71,13,0.2);/*FF 3.5+*/
  -webkit-box-shadow: 0 0 14px 4px rgba(254,71,13,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
}

@mixin offset-bottom-sm {
  @include margin('bottom', 15px, true, !important);
}
@mixin offset-bottom-md {
  @include margin('bottom', 30px, true, !important);
}
@mixin offset-bottom-lg {
  @include margin('bottom', 45px, true, !important);
}
@mixin offset-top-sm {
  @include margin('top', 15px, true, !important);
}
@mixin offset-top-md {
  @include margin('top', 30px, true, !important);
}
@mixin offset-top-lg {
  @include margin('top', 45px, true, !important);
}
@mixin offset-left-sm {
  @include margin('left', 15px, false, !important);
}
@mixin offset-left-md {
  @include margin('left', 30px, false, !important);
}
@mixin offset-left-lg {
  @include margin('left', 45px, false, !important);
}
@mixin offset-right-sm {
  @include margin('right', 15px, false, !important);
}
@mixin offset-right-md {
  @include margin('right', 30px, false, !important);
}
@mixin offset-right-lg {
  @include margin('right', 45px, false, !important);
}