@mixin proxima {
  /* csslint ignore:start */
  font-family: 'Proxima Nova', sans-serif;
  /* csslint ignore:end */
}

@mixin cursor-pointer {
  /* csslint ignore:start */
  cursor: pointer;
  cursor: hand;
  /* csslint ignore:end */
}

@mixin unselectable {
  /* csslint ignore:start */
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  /* csslint ignore:end */
}

@mixin unclickable {
  /* csslint ignore:start */
  pointer-events: none;
  /* csslint ignore:end */
}

@mixin orange-gradient {
  background: #fe470d;
}

@mixin width-gradient {
  background: #FFF;
}

@mixin login-orange-image {
  background: url("./../images/bg.png") fixed no-repeat center;
  background-size: cover;
}

@function rgba-black($opacity) {
  @return rgba(0, 0, 0, $opacity);
}

@mixin bold {
  /* csslint ignore:start */
  font-weight: 600;
  /* csslint ignore:end */
}

@mixin budicon {
  /* csslint ignore:start */
  font-family: 'budicon';
  /* csslint ignore:end */
}

@mixin blur {
  /* csslint ignore:start */
  -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
  filter: blur(2px);
  /* csslint ignore:end */
}

@mixin no-text-shadow {
  text-shadow: none;
}

@mixin no-box-shadow {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

@mixin no-border-radius {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

@mixin left-right-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin disabled {
  background: $login-button-disabled-color;
  pointer-events: none;
  text-shadow: none;
}

@mixin hover {
  box-shadow: 0 0 2px 1px rgba-black(0.2);
  color: $color-white;
}

@mixin center {
  text-align: center;
}

@mixin btn-bottom($bottom) {
  bottom: $bottom;
  left: 15px;
  max-width: 90%;
  position: absolute;
  right: 15px;
}