/*!
 * Iguana modal
 *
 */

@import 'dev.scss';

.form-container.blur {
  @include blur;
}
.form-container {
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;

  .form-header {
    //border-radius: 4px 4px 0 0;
    color: $color-white;
    height: 60px;
    width: 100%;

    .title {
      @include proxima;
      @include bold;
      color: $color-white;
      font-size: 1.44em;
      text-align: center;
    }
  }
  .bi_interface-arrow-left {
    color: $color-white;
    font-size: 2.26em;
    left: 0.36em;
    position: absolute;
    text-shadow: 1px 1px 3px rgba-black(0.3);
    top: 0.38em;

    ::before {
      font-weight: 900;
    }
  }
  .bi_interface-cross{
    color: $color-white;
    font-size: 1.17em;
    margin-left: 0.8em;
    position: absolute;
    text-shadow: 1px 1px 10px rgba-black(0.2);
    top: 21px;
  }
  .bi_interface-cross:before {
    font-weight: 900;
  }
  .btn {
    @include proxima;
    @include bold;
    box-shadow: 0 0 2px 1px rgba-black(0.2);
    color: $color-white;
    font-size: 1.20em;
    height: 34px;
    margin: 0 auto;
    max-width: 600px;
  }
  .text-shadow {
    text-shadow: 0 1px 3px rgba-black(0.25);
  }
}
.modal,
.send-coin-modal-container,
.add-coin-create-wallet-form .create-account-form,
.add-coin-create-wallet-form .verify-passphrase-form {
  background-color: $color-modal-bg-inner;
}
.form-container.mdl.fade {
  opacity: 0;
  transition: all $transition-length;
}
.modal {
  background: transparent;
  padding: 0 !important;
  text-align: center;

  .modal-full {
    height: 100%;
    margin: 0;
    padding: 0;

    .modal-content {
      border-radius: 0;
      height: 100%;
      min-height: 100%;

      .modal-header {
        border-radius: 0;
      }
    }
  }
  .modal-full,
  .modal-lg {
    width: 100%;

    .modal-content {
      overflow-y: auto;

      .modal-header {
        border-bottom: none;
        box-shadow: 0 -8px 11px 11px rgba(202, 205, 209, 0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
        height: 4.3em;
        /* csslint ignore:start */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=135, Color=#CACDD1); /*IE 5.5-7*/
        /* csslint ignore:end */
        padding-top: 18px;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=0, Color=#CACDD1)';/*IE 8*/
        -moz-box-shadow: 0 -8px 11px 11px rgba(202, 205, 209, 0.5);/*FF 3.5+*/
        -webkit-box-shadow: 0 -8px 11px 11px rgba(202, 205, 209, 0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
      }
    }
  }
  .modal-content{
    /* csslint ignore:start */
    background: $color-modal-bg;
    border-radius: 4px;
    box-shadow: 0 0 50px 30px rgba(143, 143, 143, 0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=135, Color=#8F8F8F); /*IE 5.5-7*/
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=0, Color=#8F8F8F)';/*IE 8*/
    -moz-box-shadow: 0 0 50px 30px rgba(143, 143, 143, 0.1);/*FF 3.5+*/
    -webkit-box-shadow: 0 0 50px 30px rgba(143, 143, 143, 0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    /* csslint ignore:end */

    .modal-header {
      color: $color-white;
      font-weight: 700;
      padding-top: 18px;
    }
  }
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
  z-index: -1;
}
.modal-dialog {
  display: inline-block;
  margin: auto;
  text-align: left;
  vertical-align: middle;

  .modal-body{
    padding: 15px 1em 3.2em 1em;
  }
}
.modal-backdrop {
  background-color: $color-white;
}