/*!
 * Iguana dashboard/receive-coin
 *
 */
@import 'dev.scss';

.receive-coin-modal-container {
  .modal-dialog {
    .modal-content {
      .receiving-coin-content {
        .modal-header {
          .btn-close {
            margin-left: 0.72em;
            margin-top: 0.2em;
            text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.3);
          }
        }
        .form-content {
          background-color: $color-modal-bg;
          padding: 1.2em 10px;

          .share-address-section {
            .buttons {
              margin-top: 0.5em;

              .btn {
                display: inline-block;
                font-size: 1.08em;
                height: 36px;
                line-height: 26px;
                width: 142px;
              }
            }
          }
        }
      }
    }
  }
}

.text-section {
  color: $receive-coin-text-selection-color;
  font-family: inherit;
  font-size: 0.92em;
  font-weight: 500;
}

.text-something {
  font-size: 16px;
}

.share-address-section {
  margin: 0 auto;
  position: relative;
  width: 300px;

  h4 {
    @include bold;
    color: $receive-coin-share-title-color;
    font-size: 1.36em;
    margin-bottom: 4px;
    margin-top: 2px;
    /* csslint ignore:start */
    padding-top: -18px;
    /* csslint ignore:end */
    word-break: break-all;
  }
  .my-address {
    color: $receive-coin-share-address-color;
    font-size: 1.14em;
    padding: 32px 0 4px 0;
  }
}

.modal-content {
  border: none;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.buttons {
  .copy-btn,
  .share-btn {
    background-color: $receive-coin-button-bg-color;
    border: 1px solid $receive-coin-button-bg-color;
    border-radius: $border-radius-smaller;
    box-shadow: 0 3px 14px -1px rgba-black(0.14);
    color: $receive-coin-button-color;
    @include bold;
  }
  .copy-btn:focus,
  .share-btn:focus {
    border: 0 solid $receive-coin-button-bg-color;
    outline: none;
  }
  .copy-btn a {
    color: $receive-coin-button-link-color;
    text-decoration: none;
  }
}

.qr-code {
  background-color: $color-white;
  clear: both;
  margin: 0 auto;
  position: relative;
  top: 2.6em;
  width: 200px;

  canvas,
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.amount-label {
  margin-top: 4.2em;

  .amount-label-span {
    color: $receive-coin-amount-label-color;
    font-family: inherit;
    font-size: 16px;
  }
}

.currency-input {
  float: left;
  margin-top: 4px;
  position: relative;
  width: 47%;

  .crypto-currency {
    border: 1px solid $color-default-gray;
    border-radius: $border-radius-smaller;
    height: 34px;
    padding: 4px;
    width: 100%;
  }
  .equals-sign {
    @include bold;
    color: $receive-coin-eq-sign-color;
    display: block;
    font-size: 1.5em;
    margin: 5px 4px;
  }
  .unit {
    color: $receive-coin-unit-color;
    font-size: 1.08em;
  }
  .unit-currency {
    top: 0;
  }
  input[type='text'] {
    color: $receive-coin-input-color;
    font-size: 1.065em;
    padding: 6px;
    padding-top: 8px;
  }
}

.currency-input.input-addon {
  width: 17px;
}
.crypto-currency.currency-coin {
  padding-right: 52px;
}
.unit.coin-unit {
  right: 0;
  top: 0;
  width: 44px;
}
.currency-input {
  input[type='text']::-webkit-input-placeholder {
    color: $receive-coin-input-color;
  }

  input[type='text']:-moz-placeholder { /* Firefox 18- */
    color: $receive-coin-input-color;
  }

  input[type='text']::-moz-placeholder { /* Firefox 19+ */
    color: $receive-coin-input-color;
  }

  input[type='text']:-ms-input-placeholder {
    color: $receive-coin-input-color;
  }
}
.modal-dialog.modal-popup,
.modal-dialog .modal-body,
.modal .modal-content.receiving-coin-content {
  border-radius: $border-radius-smaller;
}