/*!
 * Iguana dashboard/receive-coin
 *
 */

@import 'dev.scss';

$receive-coin-text-selection-color: #8C8484;
$receive-coin-share-title-color: #252528;
$receive-coin-share-address-color: #2F2E2E;
$receive-coin-button-bg-color: #FBFDFE;
$receive-coin-button-color: #FD5630;
$receive-coin-button-link-color: #FE6542;
$receive-coin-amount-label-color: #423F3F;
$receive-coin-unit-color: #83848E;
$receive-coin-input-color: #2E3746;
$receive-coin-eq-sign-color: #FE5C0D;

#myModal {
  background: none;
}
.receiving-coin-content {
  border-radius: $border-radius-small;

  .form-header {
    height: 60px;
    color: $color-white;
    border-radius: $border-radius-smaller $border-radius-smaller 0 0;
    box-shadow: 0 1px 1px 0 rgba-black(0.2);

    .btn-close {
      color: $color-white;
      font-size: 20px;
      text-shadow: 1px 1px 3px rgba-black(0.3);
      position: relative;
      top: 6px;
      left: 10px;
      z-index: 20;
    }
    .title {
      @include proxima;
      @include bold;
      font-size: 1.15em;
      text-align: center;
      color: $color-white;
      position: relative;
      top: 10px;
      z-index: 10;
      text-shadow: 0 1px 3px rgba-black(0.25);
    }
  }
  .close {
    float: left;
    opacity: 1;
    color: $color-white;
    text-shadow: none;
    font-weight: normal;
    font-size: 32px;
    left: 10px;
    top: 3px;
    position: relative;
    z-index: 9999;
  }
  .modal-title {
    text-align: center;
    color: $color-white;
    right: 10px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
  }
  .modal-header {
    background-color: #fe5c0d;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: -webkit-radial-gradient(top, rgba(254, 92, 13, 0.7), rgba(252, 62, 5, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(top, rgba(254, 92, 13, 0.7), rgba(254, 62, 5, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(top, rgba(254, 92, 13, 0.7), rgba(254, 62, 5, 1)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(to top, rgba(254, 92, 13, 0.7), rgba(254, 62, 5, 1)); /* Standard syntax (must be last) */
  }
  .modal-body {
    background-color: $color-modal-bg;

    .share-address-section .btn {
      display: inline-block;
      width: 47%;
      height: 36px;
      line-height: 22px;
    }
  }
}
.modal-popup {
  box-shadow: 0 2px 40px rgba(125, 125, 125, 0.3)
}
.text-section {
  color: $receive-coin-text-selection-color;
  font-weight: 500;
  font-size: 14px;
  font-family: inherit;
}
.text-something {
  font-size: 16px;
}

.share-address-section {
  position: relative;
  width: 300px;
  margin: 0 auto;

  h4 {
    @include bold;
    font-size: 18px;
    margin-bottom: 4px;
    color: $receive-coin-share-title-color;
    word-break: break-word;
    padding-top: -18px;
    margin-top: 2px;
  }
  .my-address {
    color: $receive-coin-share-address-color;
    font-size: 1.1em;
    padding: 34px 0 4px 0;
  }
}

.modal-content {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border: none;
  //box-shadow: none;
}
.buttons {
  padding: 6px 0;
  font-size: 16px;

  .copy-btn,
  .share-btn {
    @include bold;
    background-color: $receive-coin-button-bg-color;
    color: $receive-coin-button-color;
    border: 1px solid $receive-coin-button-bg-color;
    border-radius: $border-radius-smaller;
    -webkit-box-shadow: 0 3px 14px -1px rgba-black(0.14);
    -moz-box-shadow: 0 3px 14px -1px rgba-black(0.14);
    box-shadow: 0 3px 14px -1px rgba-black(0.14);
  }
  .copy-btn:focus,
  .share-btn:focus {
    border: 0 solid $receive-coin-button-bg-color;
    outline: none;
  }
  .copy-btn a {
    text-decoration: none;
    color: $receive-coin-button-link-color;
  }
}
.modal-backdrop.in {
  opacity: 0.8;
}
.modal-backdrop {
  background-color: $color-white;
}
.qr-code {
  clear: both;
  width: 210px;
  margin: 0 auto;
  background-color: $color-white;
  position: relative;
  top: 16px;

  canvas {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 15px;
  }
}
.amount-label {
  margin-top: 46px;

  .amount-label-span {
    color: $receive-coin-amount-label-color;
    font-size: 16px;
    font-family: inherit;
  }
}
.currency-input {
  margin-top: 4px;
  position: relative;
  float: left;
  width: 46%;

  .crypto-currency {
    width: 100%;
    height: 34px;
    padding: 4px;
    border-radius: $border-radius-smaller;
    border: 1px solid $color-default-gray;
  }
  .equals-sign {
    @include bold;
    color: $receive-coin-eq-sign-color;
    margin: 5px 4px;
    display: block;
    font-size: 1.5em;
  }
  .unit {
    color: $receive-coin-unit-color;
    font-size: 1.065em;
  }
  .unit-currency {
    right: 2px;
    top: 0;
  }
  input[type="text"] {
    padding: 6px;
    padding-right: 42px;
    color: $receive-coin-input-color;
    font-size: 1.065em;
  }
}
.currency-input.input-addon {
  width: 18px;
}
input[type="text"].crypto-currency.currency-coin {
  padding-right: 52px;
}
.unit.coin-unit {
  width: 47px;
  right: 2px;
  top: 0;
}
.currency-input input[type="text"]::-webkit-input-placeholder {
  color: $receive-coin-input-color;
}
.currency-input input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: $receive-coin-input-color;
}
.currency-input input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
  color: $receive-coin-input-color;
}
.currency-input input[type="text"]:-ms-input-placeholder {
  color: $receive-coin-input-color;
}
.modal-dialog.modal-popup,
.modal-dialog .modal-body,
.modal .modal-content.receiving-coin-content {
  border-radius: $border-radius-smaller;
}