/*!
 * Iguana dashboard/reference-currency
 *
 */

@import 'dev.scss';

$reference-currency-tile-color: #FD5624;
$reference-currency-tile-span-color: #9F9FA0;
$reference-currency-txamount: #898A94;
$segment-select-bg-color: #F5F8FB;

.reference-currency-main {
  padding-bottom: 20px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 20px;
    @include margin-top-bottom(auto);
  }
  .currency-content {
    ul {
      /* csslint ignore:start */
      list-style-type: none;
      -moz-margin-before: 0;
      -moz-margin-after: 0;
      -moz-margin-start: 0;
      -moz-margin-end: 0;
      -moz-padding-start: 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      -webkit-padding-start: 0;
      /* csslint ignore:end */
    }
    .flag-icon {
      background-size: 100%;
      box-shadow: 0 1px 4px 0 $color-default-gray;
      height: 26px;
      width: 36px;
    }
    .container {
      @include proxima;
      margin: 0 auto;
    }
    .container-left {
      padding-top: 75px;

      .choose-currency {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 5px;
      }
      .transaction-amount {
        color: $reference-currency-txamount;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .container-left.container-second {
      padding-top: 40px;
    }
    .currency-parent {
      margin-top: 30px;
    }
    .country-li.country-li.active {
      border: 2px solid $reference-currency-tile-color;
      box-shadow: none;
      color: $reference-currency-tile-color;
    }
    .currency-loop {
      font-size: 0.95em;
      padding-left: 0;
      text-align: center;

      .active .full-name {
        @include bold;
        color: $reference-currency-tile-color;
      }
      .country-li {
        background-color: $color-absolute-white;
        border: 2px solid transparent;
        border-radius: $border-radius-small;
        box-shadow: 0 2px 3px 1px rgba-black(0.12);
        display: table-cell;
        float: left;
        height: 90px;
        list-style-type: none;
        margin: 10px;
        width: 180px;
        text-align: center;
        vertical-align: middle;

        .display-table::after {
          background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.4) 20%, $color-absolute-white 100%);/* FF3.6+ */
          background: -webkit-gradient(linear, 180deg, color-stop(20%, 99FFBE), color-stop(100%, FF5784));/* Chrome,Safari4+ */
          background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.4) 20%, $color-absolute-white 100%);/* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.4) 20%, $color-absolute-white 100%);/* Opera 11.10+ */
          background: -ms-linear-gradient(180deg, rgba(255, 255, 255, 0.4) 20%, $color-absolute-white 100%);/* IE10+ */
          background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 20%, $color-absolute-white 100%);/* W3C */
          content: '';
          height: 100%;
          right: 0;
          position: absolute;
          z-index: 1;
          width: 60px;
        }
        .display-table {
          display: table;
          position: relative;
          height: 100%;
          width: 100%;

          .vertical-center {
            display: table-cell;
            vertical-align: middle;

            .flag-head {
              margin-left: 2%;
              margin-right: 4%;
              margin-top: 3%;
              text-align: right;
              width: 35%;
            }
            .flag-value {
              margin-left: 3%;
              overflow: hidden;
              position: relative;
              text-align: left;
              width: 56%;

              .short-name {
                @include bold;
                font-size: 1.2em;
                display: block;
                padding-top: 2px;
                width: 100%;
              }
              .full-name {
                position: relative;
                top: -2px;
                white-space: pre;
              }
            }
          }
        }

        span {
          @include bold;
          color: $reference-currency-tile-span-color;
        }
      }
    }
    .label  {
      background-color: transparent;
      padding: 0;
    }
    .segment-select {
      width: 100%;
      margin-top: 35px;

      .item-segment-select {
        background: $segment-select-bg-color;
        border: solid 1px $dashboard-send-currency-orange;
        color: $dashboard-send-currency-orange;
        height: 42px;
        padding: 8px;
        @include no-box-shadow;
      }
      .disabled {
        border: solid 1px $dashboard-send-currency-orange;
        color: $dashboard-send-currency-orange;
      }
      .item-segment-select.active,
      .item-segment-select.active:hover {
        background-color: $dashboard-send-currency-orange;
        border: solid 1px $dashboard-send-currency-orange;
        color: $color-white;

        span {
          font-weight: 600;
          margin-top: 2px;
        }
      }
    }
    .item-segment-select .second-fee-text {
      color: $dashboard-send-currency-orange;
      font-size: 10px;
      margin-top: 0;
    }
    .pop-detail .segment-select .item-segment-select.active {
      span {
        color: $dashboard-send-currency-white;
      }
    }
    .item-segment-select {
      span {
        font-weight: 400;
      }
    }
    .item-segment-select {
      span:first-child {
        font-size: 15px;
      }
    }
  }
}