/*!
 * Iguana dashboard/reference-currency
 *
 */

@import 'dev.scss';

$reference-currency-tile-color: #FD5624;
$reference-currency-tile-span-color: #D3D4D6;

.reference-currency-main {
  padding-bottom: 40px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    line-height: 20px;
  }
  .currency-content {
    ul {
      list-style-type: none;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      -webkit-padding-start: 0;
    }
    .flag-icon {
      box-shadow: 0 1px 4px 0 $color-default-gray;
      width: 43px;
      height: 32px;
      background-size: 100%;
    }
    .container {
      font-family: 'Proxima Nova';
      margin: 0 auto;
    }
    .container-left {
      padding-top: 75px;

      .choose-currency {
        font-weight: 700;
        font-size: 20px;
        padding-bottom: 5px;
      }
      $reference-currency-txamount: #898A94;
      .transaction-amount {
        color: $reference-currency-txamount;
        font-weight: 500;
        font-size: 16px;
      }
    }
    .currency-parent {
      margin-top: 30px;
    }
    .country-li.country-li.active {
      border: 2px solid $reference-currency-tile-color;
      color: $reference-currency-tile-color;
      box-shadow: none;
    }
    .currency-loop {
      padding-left: 0;
      font-size: 0.95em;
      text-align: center;

      .active .full-name {
        @include bold;
        color: $reference-currency-tile-color;
      }
      .country-li {
        background-color: $color-white;
        border-radius: $border-radius-small;
        list-style-type: none;
        text-align: center;
        max-width: 180px;
        min-width: 166px;
        padding-top: 20px;
        margin: 10px;
        height: 132px;
        display: table-cell;
        vertical-align: middle;
        float: left;
        box-shadow: 0 2px 3px 1px rgba-black(0.12);
        border: 2px solid transparent;

        span {
          @include bold;
          color: $reference-currency-tile-span-color;
        }
      }
    }
    .label  {
      background-color: transparent;
    }
    .country-li {
      .flag-head {
        padding: 7px;
      }
      .short-name {
        @include bold;
        width: 100%;
        display: block;
        padding-top: 2px;
      }
      .full-name {
        top: -2px;
        position: relative;
      }
    }
  }
}