/*!
 * Iguana dashboard/send-to-address
 *
 */
@import 'dev.scss';

.send-coin-modal-container {
  .modal-content {
    .form-content.send-modal {
      padding: 2.4em 10px 1.4em 10px;

      .modal-body {
        padding: 0.7em 0;

        .headd {
          border-radius: $border-radius-smaller;
          box-shadow: 0 0 7px 4px $send-coin-head-color;
          color: $color-white;
          margin-top: 0.5em;
          padding: 26px 21px 23px;
          position: relative;
        }
        .headd::before {
          color: $color-form-arrow;
          content: '\eac5';
          @include budicon;
          font-size: 2.0em;
          height: 40px;
          left: 18px;
          margin: auto;
          position: absolute;
          right: 0;
          top: 100px;
          width: 40px;
        }
      }
    }
  }
  .main-popup {
    margin: 0 auto;
    max-width: 300px;
  }
  .hd-right > span {
    display: block;
    font-size: 18px;
    @include bold;
    white-space: nowrap;
  }
  .pop-form {
    margin-top: 3.78em;
  }
  .pop-detail.send {
    margin-bottom: 2.86em;
  }
  .pop-detail.pay-dtl {
    margin-bottom: 3.48em;
  }
  .pop-detail {
    margin-bottom: 2em;

    h4 {
      color: $send-coin-title-color;
      font-size: 1.14em;
      font-weight: 400;
      margin: 0;
    }
    p {
      color: $dashboard-send-popup-err;
      font-size: 13px;
      margin: 2px 0 4px 0;
    }
    .col-red {
      color: $color-red;
    }
    input[type='text']::-webkit-input-placeholder,
    input[type='text']:-ms-input-placeholder,
    input[type='text']::-moz-placeholder {
      color: $color-red;
      display: block !important;
    }
    input[type='text'] {
      border: 1px solid $color-medium-gray;
      border-radius: $border-radius-smaller;
      color: $send-coin-input-color;
      font-weight: 500;
      height: 34px;
      padding: 1px 6px;
      width: 100%;
    }
    .tx-note {
      border: 1px solid $color-medium-gray;
      border-radius: $border-radius-smaller;
      font-weight: normal;
      height: 34px;
      margin-top: 6px;
      padding: 4px 12px;
      width: 100%;
    }
    .validation-field-error {
      background: $send-coin-input-error-bg-color;
      border-color: $send-coin-input-error-border-color;
    }
  }
  .modal {
    padding-left: 0;
  }
  .hd-right {
    font-size: 12px;
    text-align: right;
  }
  .pop-detail.crncy {
    display: inline-block;
    margin-bottom: 1.6em;
    width: 100%;

    .eq-sign {
      color: $dashboard-send-popup-err;
      float: left;
      font-size: 1.4em;
      font-weight: 500;
      padding: 1% 1.3%;
    }
    input[type='text'] {
      float: left;
      font-size: 1.14em;
      width: 47%;
    }
  }
  .pop-form .btn-next,
  .pop-form .btn-confirm-tx {
    border: 0 none;
    border-radius: $border-radius-smaller;
    color: $color-white;
    @include proxima;
    font-size: 1.075em;
    @include bold;
    height: 34px;
    padding-top: 3px;
    width: 100%;
  }
  .pop-detail.send {
    .tx-address-icon {
      height: 20px;
      position: absolute;
      right: 0;
      top: -3px;
      width: 20px;
    }
    .tx-address {
      padding-right: 32px;
      resize: both;
    }
    .tx-address-icon:before {
      color: $color-orange;
      content: '\ea16';
      display: block;
      @include budicon;
      font-size: 1.16em;
      position: absolute;
      right: 6px;
    }
  }
  .chk-crncy {
    h3 {
      font-size: 1.4em;
      @include bold;
      margin: 0;
    }
    h4 {
      color: $send-coin-small-title-color;
      margin-bottom: 5px;
    }
    h5 {
      font-size: 16px;
      margin-top: 0;
    }
  }
  .pop-detail.pay-dtl p {
    color: $send-coin-p-color;
    font-size: 1.14em;
    margin: 5px 0 4px 0;
  }
  .rs {
    margin: 0;
    position: relative;
    top: -3px;
  }
  .pop-detail.send.check {
    h4 {
      color: $send-coin-small-title-color;
    }
    p {
      color: $color-black;
      font-size: 1em;
      margin-top: 7px;
    }
  }
  .pop-detail.pay-dtl h4 {
    color: $send-coin-small-title-color;
  }
  .pop-detail.crncy.chk-crncy.crncy-fee {
    margin: 0 0 13px;
  }
  .pop-detail.crncy.segment {
    margin: 10px 0 32px;
  }
  .crncy {
    .dropdown-fee {
      padding: 0;

      .btn-group {
        width: 100%;

        button:first-child {
          max-width: none;
          width: 92%;
        }
        button:nth-child(2) {
          max-width: none;
          width: 8%;
        }
        ul {
          width: 100%;
        }
      }
    }
  }
  .custom-fee-inputs {
    margin-top: 8px;

    input {
      background: $color-absolute-white;
    }
  }
  .pay-dtl h3 {
    font-size: 1.46em;
    margin-bottom: 0;
    margin-top: 4px;
  }
  .pay-dtl h5 {
    font-size: 1.2em;
    margin-top: 0;
  }
  .segment-select {
    cursor: default;
    margin-top: 6px;
    width: 100%;

    .item-segment-select {
      background: $color-modal-bg;
      border: solid 1px $dashboard-send-currency-orange;
      @include no-box-shadow;
      color: $dashboard-send-currency-orange;
      height: 42px;
      padding: 8px;
      width: 25%;
    }
    .item-segment-select.disabled {
      border: solid 1px $dashboard-coins-sidebar-currency-color;
      color: $dashboard-coins-sidebar-currency-color;

      .second-fee-text {
        color: $dashboard-coins-sidebar-currency-color;
      }
    }
    .item-segment-select.active,
    .item-segment-select.active:hover {
      background-color: $dashboard-send-currency-orange;
      border: solid 1px $dashboard-send-currency-orange;
      color: $color-white;

      span {
        @include bold;
        margin-top: 2px;
      }
    }
  }
  .item-segment-select .second-fee-text {
    color: $dashboard-send-currency-orange;
    font-size: 10px;
    margin-top: 0;
  }
  .pop-detail .segment-select .item-segment-select.active {
    span {
      color: $color-absolute-white;
    }
  }
  .item-segment-select {
    span {
      font-weight: 400;
    }
  }
  .item-segment-select {
    span:first-child {
      font-size: 15px;
    }
  }
}

.modal-header .modal-title {
  font-size: 19px;
  font-weight: 400;
}

/*
  ! not going to work in IE,
    TODO: gracefull fallback(?) !
*/
.form-content.blur,
.form-header.blur {
  @include blur;
}

.send-coin-progress-overlay,
.send-coin-success-overlay {
  background: rgba(255, 255, 255, 0.4);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10000;
}

.send-coin-progress-overlay .send-coin-status,
.send-coin-success-overlay .send-coin-status {
  font-size: 1.44em;
  line-height: 1.2em;
  padding-top: 35%;
  text-align: center;

  .help-block {
    /* csslint ignore:start */
    color: $color-black;
    @include no-margin;
    @include no-padding;
    /* csslint ignore:end */
  }
}

.send-coin-success-overlay {
  .send-coin-background {
    @include blur;
  }
  .btn-confirmed,
  .btn-confirmed:focus {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19b760+0,19b760+100&0.8+0,1+100 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(25, 183, 96, 0.8) 0%, rgba(25, 183, 96, 1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(25, 183, 96, 0.8) 0%, rgba(25, 183, 96, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(25, 183, 96, 0.8) 0%, rgba(25, 183, 96, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    bottom: 25px;
    /* csslint ignore:start */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc19b760', endColorstr='#19b760', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    /* csslint ignore:end */
    font-size: 1.3em;
    left: 20%;
    max-width: 300px;
    position: absolute;
    right: 20%;
    text-shadow: 0 3px 5px rgba-black(0.25);
  }
}

.modal-send-coin {
  background: none;
  border-radius: $border-radius-smaller;
  display: block;

  .bi_interface-arrow-left {
    font-size: 26px;
    margin-left: -4px;
    margin-top: -4px;
  }
  .coin {
    float: left;

    i {
      color: $color-white;
      display: inline-block;
      font-size: 3.2em;
      margin-left: -6px;
      text-shadow: 0 1px 3px rgba-black(0.25);
    }
    .name {
      color: $color-absolute-white;
      font-size: 0.94em;
      font-weight: normal;
      left: 0.38em;
      position: relative;
      top: 0.94em;
    }
  }
  .balance {
    padding-right: 1.16em;
  }
  .balance {
    text-shadow: 0 1px 3px rgba-black(0.25);
  }
  .hd-right.balance {
    .balance-coin {
      font-size: 1.7em;
      font-weight: 900;
      line-height: 1.2em;
    }
    .balance-currency {
      font-size: 1.1em;
      @include bold;
      line-height: 1.6em;
    }
  }
  .modal-header {
    .bi_interface-cross {
      margin-left: 0.3em;
      margin-top: 2px;
    }
  }

  /*
    TODO: drop svg, switch to css based animation
    circular progress indicator
    ref: http://stackoverflow.com/questions/5230148/create-svg-progress-circle
  */
  .progress-indicator {
    height: 20px;
    margin: 0 auto;
    position: relative;
    top: -2px;
    width: 20px;
  }
  .over {
    -webkit-animation: rotator 1.5s ease-in-out infinite;
    stroke-dasharray: 107, 38;
  }
  .modal-dialog .modal-content .modal-header {
    i {
      margin-left: 6px;
    }
    .title {
      padding-top: 0;
    }
  }
  .bag {
    position: absolute;
  }
}

.modal-send-coin.entry {
  max-height: 770px;
}

.modal-send-coin .bi_interface-arrow-left,
.modal-add-coin-login .bi_interface-arrow-left {
  color: $color-white;
  font-size: 2.2em;
  position: absolute;
  text-shadow: 1px 1px 3px rgba-black(0.3);
  top: 0.5em;
  z-index: 100;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}