<section class="form-container add-coin-login-form unselectable auth-main">
  <!--div class="modal modal-add-coin-login-form login-form">
    <div class="modal-overlay" ng-click="helper.toggleModalWindow('add-coin-login-form', 300)"></div>
    <div class="modal-dialog modal-md modal-popup" role="document">
      <div class="modal-content"-->
  <header class="modal-header orange-gradient box-shadow-bottom">
    <i class="bi_interface-cross cursor-pointer btn-close" ng-click="close()"></i>
    <div class="title text-shadow text-center">{{ util.lang(isIguana ? 'ADD_COIN.ADDING_A_NEW_COIN' : 'DASHBOARD.ADDING_A_NEW_WALLET') }}</div>
  </header>
  <div class="form-content modal-body">
    <div class="login-add-coin-selection">
      <div class="login-add-coin-selection-title cursor-pointer" ng-click="openAddCoinModal()">
        <span ng-if="!coinsSelectedToAdd.length">
          {{ util.lang(isIguana ? 'LOGIN.SELECT_A_COIN' : 'LOGIN.SELECT_A_WALLET') }}
        </span>
        <div ng-repeat="item in coinsSelectedToAdd"
             ng-if="coinsSelectedToAdd.length">
          <div>{{ item.name }}</div>
          <div class="small">{{ item.id }}</div>
        </div>
      </div>
    </div>
    <div class="login-input-directions-error center offset-bottom-sm col-red hidden unselectable">{{ util.lang('LOGIN.INCORRECT_INPUT_P1') }} {{ wordCount }} {{ util.lang('LOGIN.INCORRECT_INPUT_P2') }}</div>
    <div class="login-input-directions center offset-bottom-sm unselectable passphrase-text">{{ util.lang('LOGIN.ENTER_A_PASSPHRASE_TO_ADD') }} wallet</div>
    <textarea name="loginPassphrase" id="passphrase" class="login-passphrase-textarea offset-bottom-sm row center" ng-model="passphrase"></textarea>
    <button class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-signin" ng-click="login()" ng-class="{ 'disabled': !passphrase.length || !coinsSelectedToAdd.length }">{{ util.lang('LOGIN.ADD') }}</button>
    <div class="login-or-delim center unselectable" ng-hide="isIguana">{{ util.lang('LOGIN.OR') }}</div>
    <button class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-signup" ng-click="openAddCoinWalletCreateModal()" ng-class="{ 'disabled': !coinsSelectedToAdd.length }" ng-hide="isIguana">{{ util.lang('LOGIN.CREATE_ACCOUNT') }}</button>
  </div>
</section>