<script type="text/ng-template" id="partials/add-coin.html">
  <section class="form-container add-new-coin-form-login-state unselectable">
    <header class="modal-header form-header orange-gradient box-shadow-bottom">
      <i class="text-shadow cursor-pointer"
         ng-class="{
           'bi_interface-arrow-left btn-back': !isIguana,
           'bi_interface-cross btn-close': isIguana
         }"
         ng-click="!isIguana ? back() : close()"></i>
      <div class="title">
        {{ 'ADD_COIN.WALLET_TYPE' | lang }}
      </div>
    </header>
    <div class="form-content">
      <div class="coins-title">
        {{ ( getType() === 'login' ? 'ADD_COIN.SELECT_LOGIN_WALLET' : 'ADD_COIN.SELECT_CREATED_WALLET' ) | lang }}
      </div>
      <div class="quick-search col-xs-12">
        <i class="icon bi_tool-magnifier"></i>
        <input type="text" class="input text"
               placeholder="{{ 'ADD_COIN.FOR_EXAMPLE' | lang }}"
               ng-model="coinSearchModel" />
      </div>
      <div class="supported-coins-repeater-container col-xs-12 col-md-10 col-md-offset-1">
        <div class="supported-coins-repeater row">
          <div class="supported-coins-repeater-inner">
            <div class="coin {{ item.coinId }}" data-coin-id="{{ item.coinId }}"
                 ng-repeat="(name, item) in coins | objectFilter: coinSearchModel"
                 ng-click="(!item.readonly ? clickOnCoin(item, $event) : '')"
                 ng-class="{ 'active': isActive(item) }">
              <div class="coin-inner"
                   ng-class="{'has-mode': (item.mode.length > 1)}">
                <i
                  class="icon cc {{ item.id }}-alt col-{{ item.color }} pull-left"></i>
                <div class="name pull-right text-left">
                  <div class="help-block">{{ item.name }}</div>
                  <div class="help-block">{{ item.id }}</div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="btn-group clearfix" ng-if="item.mode.length > 1">
                <label ng-repeat="(id, mode) in item.mode" class="btn"
                       ng-bind="mode.name" data-mode="{{mode}}"
                       ng-style="{
                        'width': 100/item.mode.length + '%',
                        'padding-left': (mode.name.length > 5 ? 12 / 2 + 'px': '')
                       }"
                       ng-disabled="mode.disabled"
                       ng-class="{'orange-bg': mode.status, 'width-bg': !mode.status}"
                       ng-click="(!mode.disabled ? clickOnMode($event, name, mode.key, !mode.disabled) : ''); $event.stopPropagation();"
                ></label>
              </div>
            </div>
          </div>
          <div class="container-arrow"></div>
        </div>
        <button ng-click="next()"
                ng-disabled="isDisabled()"
                ng-if="isIguana"
                class="btn-next btn btn-block orange-gradient text-shadow row">
          {{ 'CREATE_ACCOUNT.NEXT' | lang }}
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>
</script>