<div class="main-content container-fluid" ng-hide="!enabled">
  <!-- temp out of sync notice -->
  <div id="temp-out-of-sync" class="hidden" style="color:red;text-aling:center;font-weight:bold;font-size:1.2em"></div>
  <div class="balance-block unselectable">
    <div class="label">{{ helper.lang('DASHBOARD.TOTAL_BALANCE') }}</div>
    <div class="balance">
      <span class="value">{{ (totalBalance || 0) | decimalPlacesFormat:'currency' }}</span>
      <span class="currency">{{ currency }}</span>
    </div>
  </div>
  <div class="clearfix"></div>
  <aside class="coins unselectable col-md-3 col-sm-3 col-xs-12">
    <div class="row">
      <div class="account-coins-repeater">
        <div class="item {{ item.id }}" data-coin-id="{{ item.coinId }}" data-coin-balance-value="{{ item.coinBalanceUnformatted }}" ng-class="{ 'active': activeCoin === item.id || activeCoin === $index, 'loading': item.loading }" ng-repeat="item in sideBarCoins track by item.id | orderBy: 'id'">
          <div ng-include="'partials/loader.html'"></div>
          <div class="remove-coin cursor-pointer" ng-click="removeCoin(item.id)" ng-class="{ 'hidden': sideBarCoins.length === 1 || disableRemoveCoin }"></div>
          <div class="clickable-area" ng-click="activeCoin !== item.id ? setActiveCoin(item) : null">
            <div class="coin">
              <i class="icon cc {{ item.coinIdUc }}-alt"></i>
              <div class="name">{{ item.name }}</div>
            </div>
            <div class="balance">
              <div class="coin-value"><span class="val">{{ item.coinValue | decimalPlacesFormat:'coin' }}</span> {{ item.coinIdUc }}</div>
              <div class="currency-value"><span class="val">{{ item.currencyValue | decimalPlacesFormat:'currency' }}</span> {{ item.currencyName }}</div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-add-coin" ng-click="isIguana ? openAddCoinModal() : openAddCoinLoginModal()" ng-class="{ 'disabled': !addCoinButtonState }">{{ helper.lang(isIguana ? 'DASHBOARD.ADD_COIN' : 'LOGIN.ADD_WALLET') }}</button>
    </div>
  </aside>
  <div class="transactions-unit col-md-8 col-sm-7 col-xs-12 pull-right loading" ng-class="{ 'loading': txUnit.loading }">
    <div class="row">
      <div class="top-bar unselectable">
        <div ng-include="'partials/loader.html'"></div>
        <div class="active-coin-balance">
          <span class="value">{{ (txUnit.activeCoinBalance || 0) | decimalPlacesFormat:'coin' }}</span>
          <span class="coin-name">{{ activeCoin.toUpperCase() }}</span>
        </div>
        <div class="active-coin-balance-currency">
          <span class="value">{{ (txUnit.activeCoinBalanceCurrency || 0) | decimalPlacesFormat:'currency' }}</span>
          <span class="currency">{{ currency }}</span>
        </div>
        <div class="action-buttons unselectable">
          <button class="btn btn-send" ng-click="toggleSendCoinModal()" ng-class="{ 'disabled': sideBarCoinsUnsorted[activeCoin].coinValue === 0 }">{{ helper.lang('DASHBOARD.SEND') }}</button>
          <button class="btn btn-receive coinaddress btn-lg" ng-click="openReceiveCoinModal()">{{ helper.lang('DASHBOARD.RECEIVE') }}</button>
        </div>
        <div class="info unselectable">
          <i class="bi_doc-book-a"></i>
          <span>{{ helper.lang('DASHBOARD.INFORMATION') }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="transactions-list">
        <div class="title unselectable">{{ helper.lang('DASHBOARD.HISTORY') }}</div>
        <div class="transactions-list-repeater">
          <div ng-include="'partials/loader.html'" ng-if="txUnit.loading"></div>
          <div class="no-results" ng-if="txUnit.transactions.length === 0 && !txUnit.loading">{{ helper.lang('DASHBOARD.NO_TRANSACTION_HISTORY_IS_AVAILABLE') }}</div>
          <div class="item {{ item.statusClass }} {{ item.timestampFormat }} {{ item.txId }}" title="confirmations: {{ item.confs }}" ng-repeat="item in txUnit.transactions | orderBy: '-timestampUnchanged'">
            <div class="status unselectable">{{ item.status }}</div>
            <div class="amount unselectable" ng-class="{ 'smaller': item.switchStyle }">
              <span class="in-out {{ item.inOut }}"></span>
              <span class="value">{{ item.amount }}</span>
              <span class="coin-name">{{ item.coin }}</span>
            </div>
            <div class="progress-status unselectable">
              <i class="icon"></i>
            </div>
            <div class="hash">{{ item.hash }}</div>
            <div class="timestamp unselectable">{{ item.timestampSingle }}</div>
            <div class="timestamp two-lines unselectable time-ago">
              <div class="timestamp-date time-ago-date">{{ item.timestampDate }}</div>
              <div class="timestamp-time time-ago-time">{{ item.timestampTime }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>