<div class="container-fluid dashboard-main">
  <div class="row">
    <section class="dashboard main">
      <nav class="navbar top unselectable navbar-inverse">
        <div class="clearfix">
          <div class="navbar-header">
            <div class="navbar-brand">{{ helper.lang('DASHBOARD.IGUANA') }}</div>
            <div class="cursor-pointer lnk-logout" ng-click="helper.logout()">{{ helper.lang('DASHBOARD.LOGOUT') }}</div>
          </div>
          <div class="top" id="top-menu">
            <ul class="nav navbar-nav top-menu">
              <li class="item cursor-pointer text-center active">
                <div class="text">{{ helper.lang('DASHBOARD.DASHBOARD') }}</div>
                <div class="border"></div>
              </li>
              <li class="item cursor-pointer text-center" ng-click="$state.go('settings')">
                <div class="text">{{ helper.lang('DASHBOARD.SETTINGS') }}</div>
                <div class="border"></div>
              </li>
              <li class="item cursor-pointer text-center hidden">
                <div class="text">{{ helper.lang('DASHBOARD.PAYMENTS') }}</div>
                <div class="border"></div>
              </li>
              <li class="item cursor-pointer text-center hidden">
                <div class="text">{{ helper.lang('DASHBOARD.CONTACTS') }}</div>
                <div class="border"></div>
              </li>
            </ul>
            <div class="nav-buttons">
              <div class="nav-left"></div>
              <div class="nav-right"></div>
            </div>
          </div>
        </div>
      </nav>
      <div class="main-content container-fluid">
        <!-- temp out of sync notice -->
        <div id="temp-out-of-sync" class="hidden" style="color:red;text-aling:center;font-weight:bold;font-size:1.2em"></div>
        <div class="balance-block unselectable">
          <div class="label">{{ helper.lang('DASHBOARD.TOTAL_BALANCE') }}</div>
          <div class="balance">
            <span class="value">0</span>
            <span class="currency">{{ currency }}</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <aside class="coins unselectable col-md-3 col-sm-3 col-xs-12">
          <div class="row">
            <div class="account-coins-repeater">
              <!-- TODO: add repeater -->
              <div class="item loading {{ coin_id }}{{ active }}" data-coin-id="{{ coin_id }}" data-coin-balance-value="{{ coin_balance_unformatted }}">
                <div ng-include="'partials/loader.html'"></div>
                <div class="remove-coin cursor-pointer{{ dev }}"></div>
                <div class="clickable-area">
                  <div class="coin">
                    <i class="icon cc {{ id }}-alt"></i>
                    <div class="name">{{ name }}</div>
                  </div>
                  <div class="balance">
                    <div class="coin-value"><span class="val">{{ coin_value }}</span> {{ coin_id_uc }}</div>
                    <div class="currency-value"><span class="val">{{ currency_value }}</span> {{ currency_name }}</div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-add-coin">{{ helper.lang('DASHBOARD.ADD_COIN') }}</button>
          </div>
        </aside>
        <div class="transactions-unit loading col-md-8 col-sm-7 col-xs-12 pull-right">
          <div class="row">
            <div class="top-bar unselectable">
              <div ng-include="'partials/loader.html'"></div>
              <div class="active-coin-balance">
                <span class="value">0</span>
                <span class="coin-name"></span>
              </div>
              <div class="active-coin-balance-currency">
                <span class="value">0</span>
                <span class="currency">{{ currency }}</span>
              </div>
              <div class="action-buttons unselectable">
                <button class="btn btn-send">{{ helper.lang('DASHBOARD.SEND') }}</button>
                <button class="btn btn-receive coinaddress btn-lg" data-toggle="modal" data-target="#myModal">{{ helper.lang('DASHBOARD.RECEIVE') }}</button>
              </div>
              <div class="info unselectable">
                <i class="bi_doc-book-a"></i>
                <span>{{ helper.lang('DASHBOARD.INFORMATION') }}</span>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="transactions-list">
              <div class="title unselectable">{{ helper.lang('DASHBOARD.HISTORY') }}</div>
              <div class="transactions-list-repeater">
                <!-- TODO: add repeater -->
                <div ng-include="'partials/loader.html'"></div>
                <div class="item {{ status_class }} {{ timestamp_format }} {{ txid }}" title="confirmations: {{ confs }}">
                  <div class="status unselectable">{{ status }}</div>
                  <div class="amount unselectable">
                    <span class="in-out {{ in_out }}"></span>
                    <span class="value">{{ amount }}</span>
                    <span class="coin-name">{{ coin }}</span>
                  </div>
                  <div class="progress-status unselectable">
                    <i class="icon"></i>
                  </div>
                  <div class="hash">{{ hash }}</div>
                  <div class="timestamp unselectable">{{ timestamp_single }}</div>
                  <div class="timestamp two-lines unselectable">
                    <div class="timestamp-date">{{ timestamp_date }}</div>
                    <div class="timestamp-time">{{ timestamp_time }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </section>
    <section class="form-container mdl send-coin-form unselectable hidden fade">
      <div class="modal-overlay"></div>
      <div class="modal modal-send-coin"></div>
    </section>
    <!-- send coin passphrase conf -->
    <section class="modal-append-container"></section>
  </div>
</div>