<script type="text/ng-template" id="partials/dropdown-template.html">
  <div class="btn-group" dropdown>
    <!-- button style dropdown -->
    <button ng-if="isButton" type="button"
            class="btn btn-primary dropdown-button-style" dropdown-toggle><strong>{{ 'SEND.MINIMUM_TIME' | lang }} {{ item.feeMinTime }} {{ 'SEND.MIN' | lang }}-{{ 'SEND.MINIMUM_TIME' | lang }} {{ item.feeMaxTime }}{{ 'SEND.MIN' | lang }}</strong><br/>{{ ngModel.name ? ngModel.text : '' }}
    </button>
    <!--button ng-if="isButton" type="button" class="btn btn-primary dropdown-toggle dropdown-button-style">
      <span class="caret"></span>
    </button-->

    <!-- no button, plz -->
    <a ng-if="!isButton"
       class="dropdown-toggle"
       dropdown-toggle>( ngModel.name + ngModel.text ) || default
    </a>
    <span ng-if="!isButton" class="caret"></span>

    <!-- dropdown items -->
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="item in items">
        <a ng-click="select(item)"><strong>{{ 'SEND.MINIMUM_TIME' | lang }} {{ item.feeMinTime }} {{ 'SEND.MIN' | lang }}-{{ 'SEND.MINIMUM_TIME' | lang }} {{ item.feeMaxTime }}{{ 'SEND.MIN' | lang }}</strong><br/>{{ item.text }}</a>
      </li>
    </ul>
  </div>
</script>