<script type="text/ng-template" id="partials/flow.html">
  <section class="form-container flow-modal-login-state unselectable">
    <header class="modal-header form-header orange-gradient box-shadow-bottom">
      <i class="bi_interface-cross cursor-pointer btn-close"
         ng-click="close()"></i>
      <div class="title">
        {{ 'FLOW.HEADER' | lang }}
      </div>
    </header>
    <div class="form-content">
      <div class="flow-title">
        {{ 'FLOW.TITLE' | lang }}
      </div>
      <div class="flow-content center">
        <div class="row hdd-block">
          <div class="left-side">
            <div class="hard-drive">
              <img src="fonts/hard_drive.svg" alt="{{ 'FLOW.HDD' | lang }}">
            </div>
          </div>
          <div class="right-side">
            <h2>
              <strong>1</strong>
            </h2>
            <div class="text-info-block">{{ 'FLOW.DOWNLOAD' | lang }}</div>
          </div>
        </div>
        <div class="row cmd-block">
          <div class="left-side">
            <div class="command-line">
              <img src="fonts/command_line.svg" alt="{{ 'FLOW.CMD_LINE' | lang }}">
            </div>
          </div>
          <div class="right-side">
            <h2>
              <strong>2</strong>
            </h2>
            <div class="text-info-block">{{ 'FLOW.MAKE' | lang }}</div>
            <span class="help-block no-margin">{{ 'FLOW.MAKES' | lang }}</span>
            <span class="help-block no-margin">{{ 'FLOW.MAKED' | lang }}</span>
            <span class="help-block no-margin">{{ 'FLOW.MAKERPCU' | lang }}</span>
            <span class="help-block no-margin">{{ 'FLOW.MAKERPCP' | lang }}</span>
            <span class="help-block no-margin">{{ 'FLOW.MAKERPCPT' | lang }}</span>
          </div>
        </div>
        <div class="row proxy-block">
          <div class="left-side">
            <div class="proxy">
              <img src="fonts/proxy.svg" alt="{{ 'FLOW.PROXY' | lang }}">
            </div>
          </div>
          <div class="right-side">
            <h2>
              <strong>3</strong>
            </h2>
            <div class="text-info-block">{{ 'FLOW.SETUP' | lang }}</div>
          </div>
        </div>
      </div>
      <div class="clearfix center">
        <div class="need-help">
          <a class="link" href="https://github.com/SuperNETorg/Iguana-application/wiki/Full-Node-Setup-Guide" target="_blank">{{ 'FLOW.NEED_HELP' | lang }}</a>
        </div>
        <button
          ng-disabled="!isCoinsConnected()"
          class="btn btn-block orange-gradient text-shadow row after-flow-btn"
          ng-click="next()">
          {{ 'CREATE_ACCOUNT.NEXT' | lang }}
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>
</script>