<div class="body-wrapper auth-main">
  <div class="container-fluid">
    <div class="row centered">
      <section class="form-container login-form">
        <header class="form-header orange-gradient box-shadow-bottom">
          <i class="bi_interface-cross cursor-pointer hidden"></i>
          <div class="title text-shadow">{{ helper.lang('LOGIN.WELCOME') }}
          </div>
        </header>
        <div class="form-content">
          <div class="login-add-coin-selection">
            <div class="login-add-coin-selection-title offset-bottom-sm cursor-pointer"
                 ng-click="openAddCoinModal()">
              <span ng-if="!coinsSelectedToAdd.length">
                {{ isIguana ? helper.lang('LOGIN.SELECT_A_COIN') :
                  helper.lang('LOGIN.SELECT_A_WALLET') }}
              </span>
              <div ng-repeat="item in coinsSelectedToAdd"
                   ng-if="coinsSelectedToAdd.length">
                <div>{{ item.name }}</div>
                <div class="small">{{ item.id }}</div>
              </div>
            </div>
          </div>
          <div class="login-input-directions center offset-bottom-sm unselectable">
            {{ helper.lang('LOGIN.ENTER_A_PASSPHRASE_TO_LOGIN') }}
          </div>
          <textarea name="loginPassphrase" id="passphrase"
                    class="login-passphrase-textarea offset-bottom-sm row center"
                    ng-model="passphraseModel"></textarea>
          <button class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-signin"
                  ng-click="login()" ng-class="{ 'disabled': passphraseModel == '' || coinsSelectedToAdd.length == 0 }">
            {{ helper.lang('LOGIN.LOGIN') }}</button>
          <div class="login-or-delim center unselectable">{{ helper.lang('LOGIN.OR') }}</div>
          <button class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-signup"
                  ng-click="$state.go('signup.passphrase')">{{ helper.lang('LOGIN.CREATE_ACCOUNT') }}</button>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="auth-add-coin-modal" ></div>
<div class="message-modal" ng-include="'partials/message-modal.html'"></div>