<script type="text/ng-template" id="partials/reference-currency.html">
  <div class="currency-content">
    <div class="col-md-3 col-md-offset-1 col-sm-5 container-left">
      <h3 class="choose-currency">{{ 'SETTINGS.REFERENCE_CURRENCY' | lang }}:</h3>
      <h4 class="transaction-amount">{{ 'SETTINGS.CHOOSE_YOUR_CURRENCY' | lang }}</h4>
      <h4 class="transaction-amount">{{ 'SETTINGS.AMOUNT_OF_TRANSACTIONS' | lang }}</h4>
    </div>
    <div class="col-md-7 col-sm-6 currency-parent">
      <ul class="currency-loop clearfix">
        <li class="country-li cursor-pointer" data-id="{{ item.index }}" ng-repeat="item in currencyArr" ng-class="{ 'active': activeCurrency === item.shortName }" ng-click="setCurrency(item)">
          <div class="display-table">
            <div class="vertical-center">
              <h1 class="flag-head pull-left">
                <span class="label label-default">
                  <span class="flag-icon flag-icon-{{ item.flagId }}"></span>
                </span>
              </h1>
              <div class="flag-value pull-left">
                <strong class="short-name">{{ item.shortName }}</strong>
                <span class="full-name">{{ item.fullName | lang }}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-md-offset-1 col-sm-5 container-left container-second">
      <h3 class="choose-currency">{{ 'SETTINGS.FEE_OPTIONS' | lang }}:</h3>
      <h4 class="transaction-amount">{{ 'SETTINGS.FEE_DESCRIPTION' | lang }}</h4>
    </div>
    <div class="col-md-7 col-sm-6 currency-parent">
      <div class="btn-group segment-select">
        <label class="btn btn-success item-segment-select col-xs-3 col-sm-3 col-md-2 col-lg-2"
               ng-class="{
               'send-coin-line-height': activeCoin === 'btc',
               'active': checkedAmountType === item.name,
               'disabled': item.state === 'disabled' }"
               ng-repeat="item in items"
               ng-model="checkModel.type"
               ng-click="change()"
               uib-btn-radio="'{{ item }}'">
          <span>{{ item.name }}</span>
        </label>
      </div>
      <div class="row">
        <div class="fee-notice col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <span>{{ 'SETTINGS.FEE_OPTIONS_NOTIFICATION' | lang }}</span>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</script>