<section class="form-container mdl login-form-modal send-coin-confirm-passphrase hidden fade">
  <div class="modal-overlay"></div>
  <div class="modal modal-add-coin-login">
    <header class="form-header orange-gradient box-shadow-bottom">
      <i class="bi_interface-cross cursor-pointer btn-close" ng-click="helper.toggleModalWindow('send-coin-confirm-passphrase', 300)"></i>
      <div class="title text-shadow">{{ helper.lang('PASSPHRASE_MODAL.ADD_A_WALLET') }}</div>
    </header>
    <div class="form-content">
      <div class="login-input-directions center offset-bottom-sm unselectable">{{ helper.lang('PASSPHRASE_MODAL.ENTER_A_PASSPHRASE') }}</div>
      <textarea name="loginPassphrase" id="passphrase" class="login-passphrase-textarea offset-bottom-sm center" ng-model="$parent.sendCoin.passphrase"></textarea>
      <button class="btn btn-block orange-gradient box-shadow-all text-shadow btn-add-wallet" ng-class="{ 'disabled': !$parent.sendCoin.passphrase.length }" ng-click="confirmSendCoinPassphrase()">{{ helper.lang('LOGIN.ADD') }}</button>
    </div>
  </div>
</section>