/*!
 * Iguana dashboard/add-coin-modal-icons-fix
 * temp solution until font file is compiled
 */

.icon.GMC-alt {
  background: url('../../fonts/svg/coins/game.svg');
  background-size: 100%;
}
.supported-coins-repeater .coin .icon.GMC-alt:before {
  content: '\e980';
  color: transparent;
}