/*!
 * Iguana dashboard/add-coin-modal-icons-fix
 * temp solution until font file is compiled
 */

.icon.KMD-alt {
  background: url('../../fonts/svg/mono/kmd.svg');
  background-size: 100%;
}
.item.active .icon.KMD-alt,
.form-container.send-coin-form .icon.KMD-alt,
.supported-coins-repeater .coin .icon.KMD-alt {
  background: url('../../fonts/svg/white/kmd.svg');
  background-size: 100%;
}
.icon.CARB-alt {
  background: url('../../fonts/svg/mono/carb.svg');
  background-size: 100%;
}
.item.active .icon.CARB-alt,
.form-container.send-coin-form .icon.CARB-alt,
.supported-coins-repeater .coin .icon.CARB-alt {
  background: url('../../fonts/svg/white/carb.svg');
  background-size: 100%;
}
.icon.GMC-alt {
  background: url('../../fonts/svg/mono/gmc.svg');
  background-size: 100%;
}
.item.active .icon.GMC-alt,
.form-container.send-coin-form .icon.GMC-alt,
.supported-coins-repeater .coin .icon.GMC-alt {
  background: url('../../fonts/svg/white/gmc.svg');
  background-size: 100%;
}
.icon.BTM-alt {
  background: url('../../fonts/svg/mono/btm.svg');
  background-size: 100%;
}
.item.active .icon.BTM-alt,
.form-container.send-coin-form .icon.BTM-alt,
.supported-coins-repeater .coin .icon.BTM-alt {
  background: url('../../fonts/svg/white/btm.svg');
  background-size: 100%;
}
.supported-coins-repeater .coin .icon.KMD-alt,
.supported-coins-repeater .coin .icon.CARB-alt,
.supported-coins-repeater .coin .icon.GMC-alt,
.supported-coins-repeater .coin .icon.BTM-alt {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
.supported-coins-repeater .coin .icon.GMC-alt:before,
.supported-coins-repeater .coin .icon.MZC-alt:before,
.supported-coins-repeater .coin .icon.CARB-alt:before,
.supported-coins-repeater .coin .icon.UNO-alt:before,
.supported-coins-repeater .coin .icon.ZET-alt:before,
.supported-coins-repeater .coin .icon.BTM-alt:before,
.supported-coins-repeater .coin .icon.KMD-alt:before  {
  content: '\e980';
  color: transparent;
}