/*!
 * Iguana dashboard/left-sidebar
 *
 */

.account-coins-repeater .item {
  position: relative;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 20px;
  background: #fff;
  height: 85px;
  font-weight: 600;
  cursor: pointer;
  cursor: hand;
}
.account-coins-repeater .item .clickable-area {
  width: 100%;
  height: 100%;
  position: relative;
}
.account-coins-repeater .item.disabled {
  opacity: 0.65;
}
.account-coins-repeater .item .remove-coin:before {
  content: '\ead7';
  font-family: 'budicon';
  font-size: 1.2em;
  display: block;
  position: absolute;
  right: 0;
  color: #858690;
  width: 20px;
  height: 20px;
}
.account-coins-repeater .item.active .remove-coin:before {
  color: #fff;
}
.account-coins-repeater .item .balance {
  padding-top: 25px;
  padding-right: 18px;
}
.account-coins-repeater .item .balance .currency-value {
  font-weight: normal;
  font-size: 12px;
  text-align: right;
  position: relative;
  top: -4px;
}
.account-coins-repeater .item .balance .coin-value {
  font-size: 1.35em;
  text-align: right;
}
.account-coins-repeater .item .coin {
  float: left;
  margin-right: 2px;
}
.account-coins-repeater .item .coin .icon {
  width: 33px;
  height: 33px;
}
.account-coins-repeater .item .coin i {
  font-size: 2.5em;
  margin: 25px 10px 0 12px;
  display: inline-block;
  color: #D3D3D4;
}
.account-coins-repeater .item .coin .name {
  font-weight: normal;
  color: #858690;
  top: -4px;
  overflow: hidden;
  display: inline-block;
}
.account-coins-repeater .item .balance {
  float: right;
}
.account-coins-repeater .item.active .coin i,
.account-coins-repeater .item.active .coin .name {
  color: #fff;
}
.account-coins-repeater .item.active {
  cursor: default;
  color: #fff;
  box-shadow: 0 1px 6px 1px rgba(254, 69, 13, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe640d+8,fe640d+26,fe4b0d+77,fe450d+100 */
  background: #fe640d; /* Old browsers */
  background: -moz-linear-gradient(top, #fe640d 8%, #fe640d 26%, #fe4b0d 77%, #fe450d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fe640d 8%, #fe640d 26%, #fe4b0d 77%, #fe450d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fe640d 8%, #fe640d 26%, #fe4b0d 77%, #fe450d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe640d', endColorstr='#fe450d', GradientType=0); /* IE6-9 */
}
.account-coins-repeater .item.active:after {
  content: '\eb14';
  color: #C8CCD0;
  font-family: 'budicon';
  font-size: 2.0em;
  font-weight: normal;
  text-shadow: none;
  position: absolute;
  right: -18%;
  top: 25px;
}
.btn-add-coin {
  font-weight: 600;
  background: #fff;
  color: #FE450D;
  border-radius: 4px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 7px 0;
}
.btn-add-coin:hover {
  color: #FE450D;
}