/*!
 * Iguana dashboard/transactions-unit
 *
 */

.transactions-unit {
  position: relative;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
}
.transactions-unit .top-bar {
  font-weight: 600;
  color: #fff;
  min-height: 150px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 1px 6px 1px rgba(254, 69, 13, 0.5);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe640d+8,fe640d+26,fe4b0d+77,fc3600+100 */
  background: #fe640d; /* Old browsers */
  background: -moz-linear-gradient(top, #fe640d 8%, #fe640d 26%, #fe4b0d 77%, #fc3600 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fe640d 8%, #fe640d 26%, #fe4b0d 77%, #fc3600 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fe640d 8%, #fe640d 26%, #fe4b0d 77%, #fc3600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe640d', endColorstr='#fc3600', GradientType=0); /* IE6-9 */
}
.transactions-unit .action-buttons {
  float: left;
  padding-top: 18px;
}
.transactions-unit .action-buttons .btn {
  font-weight: 600;
  font-size: 1.1em;
  color: #FE450D;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 6px 35px 4px 35px;
  margin-bottom: 10px;
}
.transactions-unit .action-buttons .btn:first-child {
  margin: 0 1em 0.7em 1em;
}
.transactions-unit .action-buttons .btn:hover {
  color: #FE450D;
}
.transactions-unit .info {
  position: absolute;
  right: 25px;
  top: 25px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.transactions-list {
  background: #fff;
  padding: 25px 2.5%;
  border-radius: 0 0 4px 4px;
}
.transactions-list .title {
  font-size: 1.3em;
  color: #C7CCD0;
  padding-bottom: 20px;
}
.transactions-list-repeater .item {
  cursor: hand;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2em;
  background: #F5F8FB;
  border-radius: 4px;
  padding: 20px 3% 23px 3%;
  margin-bottom: 25px;
  transition: all 0.25s;
}
.transactions-list-repeater .item:last-child {
  margin-bottom: 0;
}
.transactions-list-repeater .item .status {
  font-weight: normal;
  font-size: 0.9em;
  color: #858690;
  text-transform: capitalize;
  width: 100px;
}
.transactions-list-repeater .item .amount {
  width: 152px;
  text-align: right;
  margin-right: 5%;
}
.transactions-list-repeater .item .hash {
  width: 41%;
  margin-left: 5%;
}
.transactions-list-repeater .item .in-out {
  font-size: 0.8em;
  margin-right: 2px;
  position: relative;
  top: 1px;
}
.transactions-list-repeater .item.timestamp-single .timestamp.two-lines,
.transactions-list-repeater .item.timestamp-multi .timestamp {
  display: none;
}
.transactions-list-repeater .item.timestamp-multi .timestamp.two-lines {
  display: inherit;
}
.transactions-list-repeater .item .coin-name {
  padding-left: 5px;
}
.transactions-list-repeater .item .timestamp {
  float: right;
  text-align: right;
  color: #858690;
  font-weight: normal;
  font-size: 0.9em;
  padding-top: 8px;
}
.transactions-list-repeater .item .timestamp .timestamp-date {
  display: block;
  font-size: 0.9em;
}
.transactions-list-repeater .item .timestamp.two-lines {
  padding-top: 0;
  margin-top: -2px;
}
.transactions-list-repeater .item .progress-status .icon:before {
  font-family: 'budicon';
  font-size: 1.2em;
  height: 20px;
  display: block;
  font-style: normal;
  font-weight: normal;
  position: relative;
  top: 2px;
}
.transactions-list-repeater .item.receive .progress-status .icon:before {
  content: '\eb47';
  color: #CBCFD3;
  top: 4px;
  left: 1px;
  font-size: 1.4em;
}
.transactions-list-repeater .item.send .progress-status .icon:before {
  content: '\eb4b';
  color: #CBCFD3;
  top: 4px;
  left: 1px;
  font-size: 1.4em;
}
.transactions-list-repeater .item.process .progress-status .icon:before {
  content: '\ead6';
  color: #2092FE;
  font-weight: bold;
}
.transactions-list-repeater .item.process .progress-status .icon:after {
  content: '';
  display: block;
  width: 14px;
  height: 11px;
  background: #F5F8FB;
  position: relative;
  float: right;
  top: -15px;
  right: 10px;
  z-index: 40;
}
.transactions-list-repeater .item.process .amount {
  color: #0082FF;
}
.transactions-list-repeater .item.receive .amount {
  color: #27C26F;
}
.transactions-list-repeater .item:hover {
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.25s;
}
.transactions-list-repeater .item div {
  display: inline-block;
}