/*!
 * Iguana authentication responsive
 *
 */
@import '../dev.scss';

body {
  /* for width resolution */
  @media #{$small-min-Resolution} {
    .mobile-hidden {
      display: inherit;
    }
    .auth-main {
      .create-account-form,
      .terms-conditionals-form,
      .login-account-form,
      .verify-passphrase-form {
        .form-content {
          .form-content-inner {
            margin: 0 auto;
            max-width: 600px;

            .form-title {
              color: $color-dark-gray;
              font-size: 1.1em;
            }
            .passphrase-word-count {
              strong {
                @include bold
              }
            }
            .btn.row {
              font-size: 1.014em;
              height: 34px;
              max-width: none;
              width: 100%;
              @include bold;
              @include left-right-auto;
            }
          }
        }
        .login-input-directions {
          font-size: 1.09em;
          line-height: 1.26em;
          padding-left: 12px;
          padding-right: 12px;
        }
        .generated-passhprase {
          line-height: 1.3em;
          padding: 0 30px;
        }
        .login-or-delim {
          padding: 1.4em 0;
        }
      }
      .login-buttons-container {
        margin-top: 4.7em;
      }
      .form-content-inner-login-state {
        .login-input-directions-login-state {
          margin-top: 1.02em;
          @include center;
        }
      }
    }
    .form-container.mdl .form-header,
    .modal-content,
    .modal-dialog.modal-popup,
    .modal-dialog .modal-body,
    .modal .modal-content.receiving-coin-content {
      border-radius: 0;
    }
    .form-container .form-content {
      padding: 3.5em 10px;
    }
    .auth-add-coin-modal {
      .modal-full,
      .modal-lg {
        .add-new-coin-form-login-state {
          .form-header {
            .btn-close {
              margin-top: 0.2em;
            }
          }
          .form-content {
            .quick-search .input {
              width: 300px;
            }
          }
        }
      }
    }
    .flow-modal-login-state {
      .flow-title {
        @include center;
        font-size: 1.14em;
      }
      .flow-content {
        width: 786px;
        margin: 3.67em auto 1.8em auto;
        padding: 6em;
        background-color: #fff;
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=0, Color=#000000)"; /*IE 8*/
        -moz-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1); /*FF 3.5+*/
        -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1); /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#000000); /*IE 5.5-7*/

        .hard-drive,
        .command-line,
        .proxy {
          img {
            width: 96%;
          }
        }

        .left-side {
          float: left;
          margin-left: 4.2em;
          width: 25%;
          .hard-drive {}
          .command-line {}
          .proxy {}
        }
        .right-side {
          float: left;
          margin-left: 1.6em;
          width: 60%;
          .text-info-block {
            font-size: 1.2em;
          }
        }
      }
      .need-help {
        margin: 1.8em auto;
        font-size: 1.12em;
        display: block;
        text-align: center;
        width: 200px;
        text-decoration: underline;;
      }
      .after-flow-btn {
        width: 600px;
        max-width: 600px;
      }
    }

    .no-margin {
      margin: 0;
    }
  }
  /* for mobile resolution */
  @media #{$small-max-Resolution} {
    .mobile-hidden {
      display: none;
    }
    .form-container.mdl .form-header,
    .form-container.mdl .modal-content,
    .modal-dialog.modal-popup,
    .modal-dialog .modal-body,
    .modal .modal-content.receiving-coin-content {
      border-radius: 0;
    }
    .body-wrapper.auth-main {
      .btn.row {
        font-size: 1.28em;
      }
      .form-container.login-form {
        .form-content {
          display: block;
          vertical-align: top;
        }
      }
      .form-container.terms-conditionals-form {
        .form-content {
          .form-content-inner {
            .login-input-directions {
              font-size: 1.2em;
              line-height: 1.25em;
              /* csslint ignore:start */
              @include bold;
              @include text-left;
              /* csslint ignore:end */
            }
          }
        }
      }
      .form-container.terms-conditionals-form,
      .form-container.create-account-form,
      .form-container.login-account-form,
      .form-container.verify-passphrase-form {
        .form-header {
          border: none;
          border-radius: 0;
          height: 4em;
          padding: 1em 0.5em;

          .btn-back {
            font-size: 2.4em;
            left: 8px;
            line-height: 0.4em;
            text-shadow: 0 1px 3px rgba-black(0.25);
          }
        }
        .form-content {
          .form-content-inner {
            .form-title {
              color: $color-dark-gray;
              font-size: 1.15em;
              line-height: 1.1em;
              max-width: 14em;
              top: 5.4em;
              /* csslint ignore:start */
              @include absolute-horizontal-center;
              /* csslint ignore:end */
            }
            .login-input-directions {
              font-size: 1.1em;
              font-weight: 600;
              /* csslint ignore:start */
              @include center;
              @include offset-bottom-sm;
              /* csslint ignore:end */
            }
            .login-passphrase-textarea {
              font-size: 1.2em;
              height: 133px;
              margin: 20px auto;
              padding: 15px 10px;
            }
            .btn.row:last-child {
              /* csslint ignore:start */
              @include btn-bottom(15px);
              /* csslint ignore:end */
            }
            .btn.row.btn-terms-conditions-accept {
              /* csslint ignore:start */
              @include btn-bottom(15px);
              /* csslint ignore:end */
            }
            .btn.row.btn-terms-conditions-decline {
              /* csslint ignore:start */
              @include btn-bottom(45px);
              /* csslint ignore:end */
            }
          }
        }
      }
      .form-container {
        .form-content {
          padding: 0 18px;

          .page-form-header {
            margin: 1em 1.3em;
            max-width: 220px;

            .page-title {
              font-size: 3em;
              line-height: 1em;
              text-align: left;
            }
          }
          .form-content-inner,
          .form-content-inner-login-state {
            .login-input-directions-login-state {
              margin: 2.7em 1.1em 6.4em 1.3em;
              max-width: 23em;
              text-align: left;
            }
            .login-input-directions {
              text-align: left;
            }
            .advanced-benefits {
              font-size: 1.17em;
              font-weight: bold;
              line-height: 1.3em;
            }
            .login-buttons-container {
              margin-bottom: 20%;
              margin-top: 20%;

              .btn.row {
                height: 47px;
                max-width: 340px;
              }
            }
          }
        }
      }
    }
    .coins-title {
      margin-top: 34px;
      padding-top: 0;
    }
    .form-container.mdl .bi_interface-cross {
      margin-top: 3px;
    }
    .btn-signin-account {
      bottom: 0;
      position: absolute;
    }
    .middle-sheet {
      display: table-cell;
      vertical-align: middle;
    }
    .txt-massage {
      margin-bottom: 0;
    }
    .btn-signin-account {
      bottom: 15px;
    }
    .auth-add-coin-modal {
      .modal-full {
        .form-container {
          .form-header {
            height: 4em;
            padding: 1.2em 0.8em;

            .btn-close {
              font-size: 1.5em;
              margin-left: auto;
            }
            .title {
              font-size: 1.36em;
              margin-left: 0.5em;
              margin-top: 0.1em;
            }
          }
        }
        .add-new-coin-form-login-state {
          .form-content {
            margin: 0 auto;
            max-width: 30em;

            .coins-title {
              font-size: 1.16em;
              font-weight: 600;
            }
            .quick-search {
              padding: 1.4em;

              .input.text {
                height: 48px
              }
              .icon {
                font-size: 1.16em;
                margin-left: 0.38em;
                margin-top: 0.74em;
              }
              .input.text::-webkit-input-placeholder {
                @include quick-search-placeholder-mobile;
              }
              .input.text:-moz-placeholder { /* Firefox 18- */
                @include quick-search-placeholder-mobile;
              }
              .input.text::-moz-placeholder { /* Firefox 19+ */
                @include quick-search-placeholder-mobile;
              }
              .input.text:-ms-input-placeholder {
                @include quick-search-placeholder-mobile;
              }
            }
            .supported-coins-repeater-container {
              margin-top: auto;

              .coin {
                margin: 0.6em;
                opacity: 1;
                padding: 1em 2em;

                .icon {
                  font-size: 2.6em;
                }
              }
            }
          }
        }
      }
    }
  }
}