/*!
 * Iguana dashboard/add-coin-modal
 *
 */

@import '../dev.scss';

body .add-coin-login-form .modal-add-coin-login-form,
.modal-add-coin-wallet-create-form {
  background: none;
  display: block;
  max-width: none;
}
.add-coin-create-wallet-form {
  .login-add-coin-selection {
    @include unclickable;
  }
  .create-account-form,
  .verify-passphrase-form {
    height: 100%;
  }
}
.modal-add-coin {
  display: block;
}
.login-form-modal .modal {
  overflow: hidden;
}
.form-container.mdl.add-new-coin-form .form-content .btn-next {
  margin: 20px auto;
}
.add-new-coin-form-login-state {
  .btn.btn-next:last-child {
    margin-top: 25px;
    @include fixed-horizontal-center;
    bottom: 15px;
    z-index: 1;
  }
  .supported-coins-repeater-container {
    margin-top: 2.62em;
    margin-bottom: 1.62em;
    position: relative;
  }
}
.add-new-coin-form {
  .supported-coins-repeater-container {
    position: relative;

    .supported-coins-repeater-inner {
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 30px;
      position: relative;
    }
  }
}
.container-arrow {
  background: linear-gradient(to top, rgb(245, 248, 251) 20%, rgba(255, 255, 255, 0) 80%);
  bottom: 0;
  height: 40%;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.25s;
  width: 99%;
  z-index: 1;
}
.coin-select-modal,
.auth-add-coin-modal,
.auth-add-coin-modal-container {
  .coins-title {
    font-size: 1.146em;
    padding-left: 0.1em;
    text-align: center;
  }
  .quick-search {
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 1.9em;
    text-align: center;

    .input.text {
      border: none;
      border-radius: $border-radius-smaller;
      height: 34px;
      padding-left: 2.56em;
      width: 100%;
    }
    i.icon {
      color: $color-medium-gray;
      font-size: 1.1em;
      margin-left: 0.52em;
      margin-top: 0.42em;
      position: absolute;
    }
  }
  .quick-search .input.text::-webkit-input-placeholder {
    @include quick-search-placeholder;
  }
  .quick-search .input.text:-moz-placeholder { /* Firefox 18- */
    @include quick-search-placeholder;
  }
  .quick-search .input.text::-moz-placeholder {  /* Firefox 19+ */
    @include quick-search-placeholder;
  }
  .quick-search .input.text:-ms-input-placeholder {
    @include quick-search-placeholder;
  }
  .supported-coins-repeater {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    text-align: center;

    .coin {
      background: $color-absolute-white;
      border: 2px solid transparent;
      border-radius: $border-radius-smaller;
      box-shadow: 0 3px 2px 1px rgba-black(0.1);
      @include cursor-pointer;
      display: inline-block;
      margin: 0.6em 0.72em;
      opacity: 1;
      text-align: center;
      transition: all $transition-length;
      width: 14.4em;
      height: 120px;

      .coin-inner {
        margin-top: 0.7em;
        padding: 0.9em 1.8em;

        .icon {
          background-color: $color-absolute-white;
          background-size: 38px 50px;
          background-position-x: 11px;
          background-repeat: no-repeat;
          font-size: 2.5em;
          margin-top: 12px;
          padding: 2px;
          width: 34%;
          height: 50px;
        }
        .name {
          color: $receive-coin-input-color;
          font-size: 1.05em;
          padding: 1.4em 0.56em 10px 0.76em;
          width: 66%;

          .help-block {
            color: $receive-coin-input-color;
            font-size: 16px;
            margin: 0;
          }
          .help-block:first-child {
            font-weight: 400;
            line-height: 1.1;
            overflow: hidden;
            position: relative;
            white-space: pre;

            &::after {
              background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0, $color-absolute-white 100%);
              content: '';
              height: 100%;
              position: absolute;
              right: -10%;
              top: 0;
              width: 40%;
            }
          }
          .help-block:last-child {
            color: $add-coin-modal-help-block-color;
            font-size: 13px;
            font-weight: 400;
          }
        }
      }

      .btn-group {
        display: none;
        text-align: center;
        width: 90%;

        .btn {
          height: 30px;
          font-size: 1.08em;
          font-weight: 400;
          line-height: 18px;
          width: 50%;
        }
      }
      .btn-group.all-modes {
        width: 100%;

        .btn {
          width: 33.33%;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    .coin.fade {
      opacity: 0 !important; /* override opacity set in js */
      transition: opacity $transition-length;
    }
    .coin.active {
      border: 2px solid $add-coin-modal-active-tile-color;
      box-shadow: none;

      .coin-inner {
        padding: 0.1em 1.8em;
        position: relative;
        top: -2px;

        &.has-mode {
          margin-top: 0;
          padding-bottom: 0;
        }
        .name {
          .help-block {
            color: $add-coin-modal-active-tile-color;
            font-weight: 600;
          }
          .help-block:last-child {
            font-size: 0.88em;
            margin-top: 2px;
          }
        }
      }
      .btn-group {
        display: block;
        margin: 0 auto;
        width: 85%;

        .btn {
          box-shadow: none;
        }
        .orange-bg {
          font-weight: 600;
        }
      }
    }
  }
  .supported-coins-repeater.override-opacity .coin {
    opacity: 1 !important; /* override opacity set in js */
  }
  .col-orange {
    color: $color-add-coin-orange !important;
  }
  .col-breeze {
    color: $color-add-coin-breeze !important;
  }
  .col-yellow {
    color: $color-add-coin-yellow !important;
  }
  .col-light-blue {
    color: $color-add-coin-light-blue !important;
  }
}
/* dgc icon fix */
.DGC:before {
  content: '\e977';
}
DGC-alt:before {
  content: '\e978';
}

/*
  coin icons in color
*/
$coins-svg-path: 'svg/coins';
$coins-list: ABC ANC APC BCN BLK BTC BTCD BTM C21 CARB DEM DGB DGC DOGE EMC2 FLO FRC FRK FTC GMC IFC KMD LMC LTC MEC MZC NLG NMC NVC PPC QRK SC SRC SYS UNO VTR WDC XEN XPM XRP XST ZCC ZET;

@each $current-icon in $coins-list {
  .igf .#{to-lower-case($current-icon)} .icon {
    background-image: url('#{$coins-svg-path}/#{$current-icon}.svg');
  }
}