/*!
 * Iguana dashboard/left-sidebar
 *
 */

@import '../dev.scss';

.account-coins-repeater {
  .item {
    @include bold;
    @include cursor-pointer;
    background: $color-absolute-white;
    border-radius: $border-radius-smaller;
    box-shadow: 0 2px 2px 1px rgba-black(0.125);
    height: 94px;
    margin-bottom: 20px;
    position: relative;

    .info-icon {
      @include cursor-pointer;
      border: solid 2px $color-dark-gray;
      color: $color-dark-gray;
      border-radius: 50%;
      display: inline-block;
      height: 17px;
      text-align: center;
      font-family: Arial;
      font-size: 12px;
      text-transform: lowercase;
      position: absolute;
      right: 6px;
      bottom: 8px;
      width: 17px;
      z-index: 200;
    }
    .sync {
      font-size: 0.72em;
      font-weight: 500;
      padding-left: 6px;
    }
    .sync-info {
      position: absolute;
      top: 7px;
      right: 60px;
    }
    .progress-bar {
      opacity: 0;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .clickable-area {
      height: 100%;
      width: 100%;
      position: relative;
    }
    .remove-coin:before {
      @include budicon;
      color: $color-dark-gray;
      content: '\ead7';
      display: block;
      font-size: 1.2em;
      height: 20px;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      z-index: 200;
    }
    .balance {
      float: right;

      .coin-value {
        font-size: 1.432em;
        line-height: 0.8em;
      }
      .currency-value {
        @include bold;
        font-size: 0.94em;
        line-height: 1.8em;
      }
      .coin-value,
      .currency-value {
        text-align: right;
      }
    }
    .coin {
      float: left;

      i {
        color: $account-coins-repeater-coin-color;
        font-size: 2.484em;
      }
      .name {
        color: $color-dark-gray;
        font-weight: normal;
      }
      .pull-left:last-child {
        padding-left: 5px;
      }
    }
    .loader {
      display: block;
      height: 50px;
      position: absolute;
      right: 38px;
      top: -3px;
      transform: scale(0.8);
      width: 50px;
      z-index: 10;

      circle {
        stroke-width: 3px;
      }
    }
  }
  .item.syncing {
    background: #FFEDE7;

    .progress-bar-container {
      background: #EEE1E0;
      height: 3px;
      margin-top: 3px;
      margin-left: 6px;
      width: 85px;
      position: absolute;

      .progress-bar {
        background: #C7CCD0;
        box-shadow: none;
        height: 3px;
        border-radius: 6px;
      }
    }
  }
  .item.active.syncing {
    .progress-bar-container {
      height: 3px;
      background: #FE8656;
      margin-top: 3px;
      margin-left: 6px;
      width: 85px;
      position: absolute;

      .progress-bar {
        height: 3px;
        background: $color-absolute-white;
        border-radius: 6px;
        box-shadow: 0 0 3px $color-orange;
      }
    }
  }
  .item.disabled {
    cursor: default;
    opacity: 0.65;
  }
  .item.active {
    box-shadow: 0 1px 8px 1px rgba(254, 69, 13, 0.6);
    color: $color-absolute-white;
    cursor: default;
    text-shadow: 0 1px 3px rgba-black(0.25);
    @include orange-gradient;

    .coin i,
    .coin .name,
    .loader .path4,
    .remove-coin:before {
      color: $color-absolute-white;
    }
    .info-icon {
      color: $color-absolute-white;
      border-color: $color-absolute-white;
    }
  }
  .item:not(.active) .active-arrow {
    display: none;
  }
  .item.active .active-arrow {
    color: $account-coins-repeater-active-coin-color;
    font-size: 2.14em;
    font-weight: 900;
    position: absolute;
    right: -1.76em;
    text-shadow: none;
    top: 1em;
  }
}
.btn-add-coin {
  @include bold;
  background: $color-absolute-white;
  border-radius: $border-radius-smaller;
  box-shadow: 0 2px 2px 2px rgba-black(0.125);
  color: $color-orange;
  font-size: 1.14em;
  line-height: 1.14em;
  padding: .6em 0;
  width: 100%;
}
.btn-add-coin:hover {
  color: $color-orange;
}