/*!
 * Iguana dashboard/passphrase-modal
 *
 */
@import '../dev.scss';

body {
  .send-coin-passphrase-modal-container {
    .modal-dialog {
      .modal-content {
        .send-coin-confirm-passphrase {
          .orange-gradient {
            border-radius: 4px;
          }
          .login-passphrase-textarea {
            @include bold;
            @include proxima;
            @include center;
            width: 100%;
            height: 160px;
            border-radius: $border-radius-smaller;
            border: solid 1px $color-medium-gray;
            padding: 10px 12px;
            margin: 6px 0 24px 0;
            font-size: 1.24em;
            resize: none;
          }
          .modal-add-coin-login {
            border-radius: $border-radius-smaller;
            box-shadow: 0 0 1px 1px rgba-black(0.1);
            display: block;
          }
          .error {
            border: solid 1px $color-red;
          }
          .login-input-directions {
            font-size: 1.145em;
            margin-bottom: 22px;
            @include center;
          }
          .form-header i {
            color: $color-white;
            font-size: 2.2em;
            left: 0.3em;
            position: absolute;
            text-shadow: 1px 1px 3px rgba-black(0.3);
            top: 0.4em;
            z-index: 100;
          }
          .form-content {
            padding: 2.1em 7.14em 2.8em 7.14em;

            .btn-add-wallet {
              font-size: 1.08em;
              line-height: 1.6em;
              max-width: 300px;
            }
          }
        }
      }
    }
  }
}