/*!
 * Iguana dashboard/passphrase-modal
 *
 */

@import '../dev.scss';

.login-form-modal {
  z-index: 1000;
}
.send-coin-passphrase-modal-container .modal-dialog {
  width: 400px;
}
.login-form-modal {
  textarea {
    width: 100%;
    height: 120px;
    border-radius: $border-radius-smaller;
    border: solid 1px #C7CCD0;
    padding: 10px 12px;
    margin: 20px 0;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    font-size: 1.24em;
    text-align: center;
    resize: none;
  }
  .modal-add-coin-login {
    display: block;
    border-radius: $border-radius-smaller;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  textarea.error {
    border: solid 1px #FF0000;
  }
  .offset-bottom-md {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.login-form-modal.center {
  text-align: center;
}
.login-form .offset-bottom-sm {
  display: block;
  margin: 24px auto;
  max-width: 420px;
}
.modal-add-coin-login .form-content {
  padding: 25px;

  .row {
    width: 99%;
    margin-right: 0;
    margin-left: 0;
  }
}
.send-coin-confirm-passphrase {
  .modal {
    .modal-dialog.modal-lg {
      width: 400px;
    }
    .modal-content {
      box-shadow: 0 2px 40px rgba(125, 125, 125, 0.3);
    }
  }
  .modal-add-coin-login textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .title {
    padding-top: 10px;
  }
  .login-input-directions {
    text-align: center;
    font-size: 1.07em;
  }
  .form-header i {
    color: #fff;
    font-size: 26px;
    margin-top: 8px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 100;
  }
}